[2021-01-20 13:52] josephmancuso commented on #394
what exactly is `reverse` doing? lol? You are trying to get the compiled URL?

[2021-01-20 13:54] girardinsamuel commented on #394
yes. I am using this a lot in Django in tests to test a specific controller without hard-coding the url, I am providing the name and the reverse function outputs the url which is then used by the test to make a request against

[2021-01-20 13:58] girardinsamuel commented on #394
More info here https://docs.djangoproject.com/en/3.1/ref/urlresolvers/#reverse

[2021-01-21 01:23] #395 closed, assigned to nobody

[2021-01-21 01:23] #396 closed, assigned to nobody

[2021-01-21 04:01] josephmancuso commented on #393
hmm . what exactly is this fix? Since we are not importing ABC's ..

[2021-01-21 07:14] jpmateo022 opened #399 "Still looking for orator in Masonite 3"
Hi it seems pydoc is still look for orator in Masonite 3.

[code]

[2021-01-21 09:00] jpmateo022 commented on #399
Update:
It seems masonite-api still uses orator so as a temporary solution until its fixed I override JSONSerializer.

[2021-01-21 09:10] girardinsamuel commented on #399
masonite-api is not yet compatible with Masonite 3. This package is actually an old package that might be rewritten entirely.
In the mean time, a patch can be added to at least fix compatibility issues as the one you propose

[2021-01-21 10:22] jpmateo022 opened #400 "Missing queue field in masonite migration queue table schema"
**Additional context**
Add any other context about the problem here.
![image](https://user-images.githubusercontent.com/26633918/105337559-8461c280-5c15-11eb-9d71-5c4384a0b6da.png)

Upon checking https://github.com/MasoniteFramework/masonite/blob/v3.0.4/databases/migrations/2020_09_18_233149_create_queue_jobs_table.py

The migration for queue_jobs doesn't have a queue field.

[2021-01-21 10:33] #400 closed, assigned to nobody

[2021-01-21 18:46] girardinsamuel commented on #257
Already implemented as `assertIsNamed()`.
[code]

[2021-01-21 18:46] #257 closed

[2021-01-21 20:48] jpmateo022 commented on #399
Yeah, I made a pull request at masonite-api section.

https://github.com/MasoniteFramework/api/pull/19

Im going to close this issue since its more on masonite-api.

[2021-01-21 20:48] #399 closed, assigned to nobody

[2021-01-25 14:58] tpow commented on #394
@girardinsamuel How is `reverse` different from the `route` helper that is already in Masonite? It looks like the same thing to me. I'm already using it all over the place in views and controllers. See https://docs.masoniteproject.com/the-basics/views#route

I don't think this is mentioned on the Routing page in the documentation, but probably should be.

[2021-01-25 15:03] girardinsamuel commented on #394
It's the same thing but available as a method in code and not only a view helper. Maybe it's already available but as here we are talking about a rewrite, I was thinking that this kind of helper should belong to the `Route` class shown above.

[2021-01-25 15:22] tpow commented on #394
Although I understand the idea of basing this on one class, I don't like repeating "Route." everywhere. It would be nice to keep a syntax similar to what is there now as it is clear and direct. Perhaps Get, Put, etc. could be aliases for the equivalent Route.get, Route.put, etc. so the syntax wouldn't need to change much?

[2021-01-26 22:12] jpmateo022 opened #405 "Global Timezone Configuration"
Hello,

I would like to request a configuration that sets the timezone of the app. I think it will also affect MasoniteORM. And if possible, if this will also automatically override the timezone of ```pendulum``` or any DateTime library Masonite is currently using.

Thanks!!!!

[2021-01-29 02:40] jpmateo022 opened #407 "craft info bug application._version missing"
Hi,

Upon executing ```craft info```, it throws this error.

![image](https://user-images.githubusercontent.com/26633918/106224526-78ca5900-621e-11eb-86ff-fd5fb6fa0fa6.png)

[2021-01-29 02:41] jpmateo022 commented on #407
Im using masonite 3.0.6

[2021-01-29 08:14] ghost opened #408 "String Default Value Migration"
Hey there, I am having issues while migrating. I have a string column with length and a default value but it's giving me an error.

[code]

Migration Contents:
[code]

Am I missing something?

[2021-01-29 10:53] ghost opened #409 "auth.login('email', 'password') Issue"
I am getting **string argument without an encoding** error while trying to login.
[code]
What can be the possible solution for this failure?

[2021-01-29 10:55] girardinsamuel commented on #407
Yes I got this one too, I'll fix this soon 😉

[2021-01-30 18:37] Marlysson commented on #408
@josephmancuso There's some error when `bulk_create` doesn't define one key and this related field have a `.default` value defined? I've tried the bulk insert with different amout of keys and throw a error.

[2021-01-30 18:38] josephmancuso commented on #408
This is fixed @Marlysson

[2021-01-30 18:38] #408 closed, assigned to nobody

[2021-01-30 18:39] josephmancuso commented on #408
But yeah all keys need to be the same throughout the dictionaries.

[2021-01-30 18:49] josephmancuso commented on #408
Actually I just reread that about the default value. I'll take a look at that use case that's a good point

[2021-01-30 19:28] Marlysson commented on #408
Yep. Just to example:
[code]

[2021-01-31 01:15] jpmateo022 commented on #409
This is the same issue I faced in masonite-API. I think the root cause of the problem is the latest update of Python. Since masonite-API is 100% compatible with Masonite 3.0 yet, the temporary solution is to override TokenController.py

https://github.com/MasoniteFramework/api/blob/2.2/src/api/controllers/TokenController.py

Then change the response
[code]

to

[code]

[2021-02-01 02:54] jpmateo022 opened #412 "Array form input not being parsed as list of dictionary"
I have this form inputs

![image](https://user-images.githubusercontent.com/26633918/106409539-b4159380-647b-11eb-85d7-e945c2cfe36d.png)

But when I retrieve it in the backend via request. I'm getting a False value

[code]

But when I do this

[code]

I get the value.

[2021-02-01 05:30] jpmateo022 opened #413 "AttributeError: 'NoneType' object has no attribute 'split' in masonite response.json()"
Hi,

Related to this issue.
https://github.com/MasoniteFramework/orm/issues/346

My scenario in this is in my controller im using response.json and the in the frontend Im doing long pooiling every 5000 seconds.

When I use this kind of response.

[code]

Im getting the error, but when I changed it to

[code]

Im not getting anymore the error.

[2021-02-01 05:37] jpmateo022 commented on #413
I'll try a different environment to see if I will still encounter the issue.

[2021-02-01 09:01] girardinsamuel commented on #412
You did this through Postman, but how would do this in your frontend in the first place ?
[code]
?

[2021-02-01 09:05] girardinsamuel commented on #413
According to https://docs.masoniteproject.com/advanced/responses#json-responses
[code]
is the same as doing
[code]

But about setting the response status code, it's documented you can do
https://docs.masoniteproject.com/advanced/responses#setting-status-codes
[code]
But I am not sure that it's working when returning a dict.
Finally when returning response.json(), the signature is response.json(pay

[2021-02-01 09:10] girardinsamuel commented on #413
I was not able to reproduce the issue either...
Your return this response from which method ? (POST, GET, ...) ?

Is it working in you web browser ? in Postman ?

[2021-02-01 09:14] jpmateo022 commented on #413
The request is being done via Ajax request. I'm suspecting now it's my database connection. I'm just currently finishing the development in my local then I'll test it in the test environment.

[2021-02-01 19:35] jpmateo022 commented on #413
I found out now the problem and it's not Masonite.  I tried removing threads in my gunicorn and I don't receive the errors anymore.

[2021-02-01 19:35] #413 closed, assigned to nobody

[2021-02-02 02:39] jpmateo022 commented on #412
I normally do this if I want to use form arrays
[code]

[2021-02-02 13:30] josephmancuso opened #414 "returning dictionary response with 404 should return dictionary and not 404 page"
[code]

[2021-02-03 15:27] girardinsamuel commented on #339
This won't be done in Masonite 3 and needs some thoughts. I am closing it for now.

[2021-02-03 15:27] #339 closed

[2021-02-06 03:12] jpmateo022 opened #415 "Error in fresh install"
![image](https://user-images.githubusercontent.com/26633918/107107462-10a5f380-686c-11eb-9468-c4b7254c0078.png)

[2021-02-06 06:13] josephmancuso commented on #415
Hmm how did you run the install? Is that not inside the requirements.txt file?

[2021-02-06 09:22] girardinsamuel commented on #415
Weird because I have just tried to do it and I got no issues.
My setup was maybe different, here is how I proceeded:
1. create a new venv and activate it
2. `pip install masonite`
3. `craft new`
4. `pip freeze` gives me:
[code]
In the project requirements.txt I have:
[code]

[2021-02-06 09:25] girardinsamuel commented on #415
@jpmateo022 I think the exception caught might be broad because the error seems to come from "No module named pip".
Did you try to run `pip ...` with your current python interpreter ? It seems that masonite can't find it to install required packages.

[2021-02-07 14:25] rickavmaniac opened #416 "Default resource route names"
When we create a Resource route like this

Resource('products', 'ProductsController')

It will be great if Masonite can give default route name (like in Laravel):
products.index
products.create
products.store
products.edit
products.update
products.destroy

I know we can specified the name manually like this
Resource('products', 'ProductsController', names={'index': 'products.index')

That method i

[2021-02-16 05:16] josephmancuso opened #465 "Add Masonite API back to core"
Need to look at the Masonite API package and merge that into this one as we did with Masonite-scheduler.

This will need to be spec'd out though in order to make sure we hit all the core requirements when we do the back port.

# Feature Spec

**Masonite API**

This product spec details the feature requirements and technical specifications for the adding an API feature to Masonite.

## Summary

Mas

[2021-02-18 07:58] jpmateo022 commented on #407
Hi, may I know if this is already fixed?

[2021-02-18 09:23] girardinsamuel commented on #407
Wooops I didn't do it ! I'll open a PR 😉

[2021-02-20 13:01] #407 closed, assigned to girardinsamuel

[2021-02-20 13:12] #416 closed, assigned to nobody

[2021-02-20 13:12] #393 closed, assigned to nobody

[2021-02-21 15:05] girardinsamuel commented on #415
@jpmateo022 what's the status on this ? Is is still an issue ?

[2021-02-21 15:27] girardinsamuel commented on #258
For now it's possible to do `self.assertRedirect("/dashboard")` passing the redirect URI.
This won't be integrated into M3 but in M4, redirections assertions will be able to test URI and view name 😉.

[2021-02-21 15:27] #258 closed

[2021-02-21 15:35] girardinsamuel commented on #176
I guess this could be achieved more easily with next major release M4

[2021-02-25 04:45] josephmancuso commented on #465
We need to start coming up with an advanced product spec on what this is actually supposed to do. Should explore other frameworks

[2021-02-26 05:30] josephmancuso commented on #465
@girardinsamuel we need to figure out how this is going to work .. We need:

* Serializers - to serialize into different types of data (JSON, XML, etc).
* Authorization classes - Token authorization, JWT auth, etc
* Resource class - normal CRUD stuff.
* Can take ideas from this https://laravel.com/docs/8.x/passport although Passport is full oauth2 support. we're just doing authentication and autho

[2021-02-26 05:36] josephmancuso commented on #465
I'm gonna bump this back from alpha to beta so we have more time to think about this

[2021-03-02 13:15] dirkey opened #422 "CorsProvider might be obsolete"
Currently there are 2 options to change response headers (CORS) in a masonite application. I think the CorsProvider is more or less obsolete, because you can archive the same thing with the CorsMiddleware (adding it to the HTTP_MIDDLEWARE). Instead of CorsProvider, the CorsMiddleware open up more possibilities. You can add the middleware to specific routes instead the CorsProvider which change all

[2021-03-03 16:13] ghost opened #423 "File Extension not Supported"
While trying to upload a file, I encountered a weird error. Everything was working perfectly but in the case of the file with the extension. JPG (ALL CAPS) file upload is giving me an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Get any image with .JPG extension and try to upload it

[code]

Error: The file extension is not supported.

![IMG_2249](https://user-images.githubusercont

[2021-03-03 16:17] josephmancuso commented on #423
Can you upgrade to 3.0.9 and try again?

[2021-03-03 16:19] ghost commented on #423
masonite version?

[2021-03-03 16:20] josephmancuso commented on #423
Yeah there was a fix to cast the image types to lowercase before checking. I think that will fix this issue

[2021-03-03 16:22] ghost commented on #423
No matching distribution found! masonite==3.0.9

[2021-03-03 16:35] josephmancuso commented on #423
should be there .. try again maybe? Maybe it needed a few minutes to propagate.

If that doesn't work you might need to pass the `--no-cache-dir` flag when installing via pip to get around your local cache

[2021-03-03 22:09] josephmancuso commented on #423
Will close this issue but can reopen if there are any further issues

[2021-03-03 22:09] #423 closed, assigned to nobody

[2021-03-08 09:22] girardinsamuel commented on #415
I am closing it for now. But can reopen this issue at any time if needed.

[2021-03-08 09:22] #415 closed, assigned to nobody

[2021-03-13 08:23] girardinsamuel commented on #465
- I guess for Resources it would be cool to have a command to generate a resource class for a given model. Then inside this class we should be able to specify list of fields to output in serialization and eventual other options.
- Then it would be cool to be able to scaffold quickly entrypoints for a Resource by generating a controller with the 5 resource methods foir a given Resource.
- Authentic

[2021-03-16 21:33] racerthunder opened #425 "non-ascii chars break router"
if you hit any url with no-ascii chars you'll get 404 error, ex.:

**domain.com/новая-страница**

The root of the issue is coming from wsgi environ dict. Specifically the key in dict PATH_INFO which is assigned as the main endpoint by Masonite routing system. This variable is already broken ( wrong encoding is used ). However in case of apache2 wsgi mod (this one i primarily  use for deployment) t

[2021-03-22 18:20] girardinsamuel commented on #251
This will be done in next major release (M4).

[2021-03-23 09:16] jpmateo022 opened #426 "pytest returning ModuleNotFoundError: No module named 'src'"
from masonite.testing import TestCase

but when using

from unittest import TestCase

its working fine

both tried

python -m pytest and pytest

[2021-03-23 09:16] jpmateo022 commented on #426
![image](https://user-images.githubusercontent.com/26633918/112122672-7cb1a080-8bfb-11eb-9887-5da1b25a08da.png)

[2021-03-23 09:46] girardinsamuel commented on #426
It's a regression bug, I reproduced it on masonite latest version 3.0.9. We will fix this 😉

[2021-03-23 14:27] #426 closed, assigned to nobody

[2021-03-27 05:56] nakano16180 opened #428 "add Pipfile and Pipfile.lock"
**Is your feature request related to a problem? Please describe.**
![Screenshot from 2021-03-27 14-47-03](https://user-images.githubusercontent.com/36945685/112711416-901a7f80-8f0b-11eb-966a-a8cfd701fbf8.png)

**Describe the solution you'd like**
add Pipfile and Pipfile.lock

**Describe alternatives you've considered**
add ``` "-r requirements.txt" ``` in [this line](https://github.com/MasoniteFra

[2021-03-27 07:55] zwjat opened #429 "Why do not old helper take effect？"
**Describe the bug**
A clear and concise description of what the bug is.

When submit a form with some errors, the page shou;d redirect back to origin with previous input. But use old the previous input is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. In a page with inputs, for example a input for email and a input for password,  and a submit
2. Click on submit button to submit this

[2021-04-01 13:24] b4oshany opened #430 "How do I create a composite primary key?"
**Describe the bug**
Unable to create a composite key.

**To Reproduce**
I tried:
[code]

[2021-04-01 13:38] b4oshany opened #431 "Cannot execute raw query"
**Describe the bug**
I tried to execute a raw query.

**To Reproduce**
Steps to reproduce the behavior:
[code]

error:
[code]

[2021-04-02 09:42] #428 closed, assigned to nobody

[2021-04-04 09:12] resmo opened #464 "Add e-mail verification with 6-digit"
Sending links in HTML e-mails for verification is problematic due to spam and phishing protection, the e-mail often does not arrive.

Instead, I suggest the following mechanism: After registration, the user is redirected to a form that requires entering a 6-digit code. This numerical code is sent to the user by email.

[2021-04-04 14:26] hectordufau opened #432 "Using xstatic with masonite"
Dears,

How to use xstatic (https://xstatic.readthedocs.io/en/latest/) packages with masonite/jinja2 ?

Example: I'm trying use xstatic-bootstrap package, however, after call it on base.html by {% xstatic bootstrap %}, I receive this error message:

jinja2.exceptions.TemplateSyntaxError
Encountered unknown tag 'xstatic'.

On application.py I did:

[code]

Would you like help me?

Regards

[2021-04-06 00:03] #432 closed, assigned to nobody

[2021-04-08 20:45] girardinsamuel commented on #464
It's a cool feature indeed 👍
Maybe the solution is to be able to choose one or the other in configuration.

If the code is also sent by email, why would it be less problematic regarding spam and phishing protection ?

[2021-04-08 20:56] resmo commented on #464
it's not the email that's problematic, it's the link in it which could be seen as a phishing attack.

[2021-04-08 21:21] girardinsamuel commented on #464
Okay yes that makes sense. We will consider this !

There is no real challenge here, the only difficulty I see is what to integrate inside Masonite 4 by default.
In Laravel community, presets/packages like Jetstream, Breeze, Fortify and what's included in Laravel default have been really confusing for users. Which tool should be used ? It's difficult to provide some auth/users features without enf

[2021-04-18 17:59] nioperas06 opened #434 "craft model -m Model bug"
[code]

[2021-04-18 22:52] Marlysson commented on #434
@nioperas06 We don't support create migration at same time from model creation at this moment.
Try create them in separated commands: one to create model and other to create migration to it and confirm if it works.

[2021-04-18 23:17] #434 closed, assigned to nobody

[2021-05-05 09:44] ghost opened #435 "Issue while running Craft Command"
**Describe the bug**
If you use any command with craft it gives an error.

[code]

**Desktop (please complete the following information):**
 - OS: Mac

**Additional context**
Python Version: 3.8.10
M3 (Masonite v3)

[2021-05-05 09:52] girardinsamuel commented on #435
What happen if you remove the space in the folder (Python Projects) ?

[2021-05-05 09:54] ghost commented on #435
It was working before, I updated the system this morning and also homebrew, now I encountered this issue.

[2021-05-05 09:54] girardinsamuel commented on #435
Oh okay, I will test with 3.8.10 then

[2021-05-05 09:55] ghost commented on #435
Thanks, the system was perfectly working. I think the issue is with 3.8.10.

[2021-05-05 09:58] girardinsamuel commented on #435
Yes 3.8.10 or 3.9.5 which are the latest Python 3 releases from May 3rd.
It has not made its way into pyenv so I was not able to test them with it, I will directly try by installing from python.org

[2021-05-05 10:06] girardinsamuel commented on #435
I reproduced the problem locally. I'll try to fix it

[2021-05-05 10:08] ghost commented on #435
So this is an issue with 3.8.10.

[2021-05-05 10:15] girardinsamuel commented on #435
I guess the issue might happen with 3.9.5 too. No issue with 3.9.4.

[2021-05-05 10:19] girardinsamuel commented on #435
`importlib.import_module` has not changed between those releases, so this is due a side-effect somewhere else.
I will look closely at the release log

[2021-05-05 10:29] girardinsamuel commented on #435
It's because of `pkgutil` module

Tested in a local masonite project :

### 3.8.10
[code]

### 3.8.9:
[code]

Path is not relative to the current working directory anymore

The detailed changelog of 3.8.10 is here https://docs.python.org/release/3.8.10/whatsnew/changelog.html
I am looking into `pkgutil` and `importlib` related changes

Looks like it could be due to : `Importlib now resolves relati

[2021-05-05 10:37] girardinsamuel commented on #435
Looks like it could be due to : https://bugs.python.org/issue43105

https://github.com/python/cpython/pull/25121

https://github.com/python/cpython/commit/0af99b44edf559305def22b2d68be685ce50d7f6#diff-efefe383b3a81d16150c280db0b64eed7569254299418f64cc0d749f8e16f3a4R723

[2021-05-05 10:53] girardinsamuel commented on #435
@meyubaraj
(can test with `pip install git+https://github.com/girardinsamuel/masonite.git@fix/435`)
@josephmancuso Here is a PR which seems to fix this behaviour. I am not sure if's the way to go but that works.

[2021-05-05 11:20] ghost commented on #435
Not working!

[2021-05-05 11:37] girardinsamuel commented on #435
Well it's working on my side (be sure that it haas been correctly installed, maybe run pip uninstall masonite before. And be careful it's a @ not a #, I have edited the comment once).

[2021-05-05 12:10] ghost commented on #435
Well, now I am getting a different error. Maybe because of the spaces in my directory structure. Right now, I am thinking to downgrade my python version.

[2021-05-05 12:13] josephmancuso commented on #435
🤔 How does Python release a minor version upgrade where they change something from a relative path to an absolute path ?? That's clearly a breaking change, no??

[2021-05-05 12:22] ghost commented on #435
Yea, it's weird. I have upgraded to 3.9.4 instead. Now it's working. Please, do close the issue if fixed and the test succeeded. Thanks @girardinsamuel and @josephmancuso

[2021-05-05 12:53] girardinsamuel commented on #435
There is a version 3.9.5 released at same time than 3.8.10 which might have the same issue. So we might have to check that a bit more.

[2021-05-05 12:58] girardinsamuel commented on #435
I am not 100% sure of what changes those new releases add, but for sure pkgutil.iter_modules behaves differently, and the PR I opened solve this (but maybe it's a hacky patch that we don't want to merge in...).

[2021-05-08 07:50] KitWiz opened #437 "craft new Install package to wrong directory"
E:\PyCode\Test>where python
[code]

E:\PyCode>python -m pip list
[code]

E:\PyCode>mkdir Test

E:\PyCode>cd Test

E:\PyCode\Test>python -m venv venv

E:\PyCode\Test>venv\Scripts\activate.bat

(venv) E:\PyCode\Test>where python
[code]

(venv) E:\PyCode\Test>where pip
[code]
(venv) E:\PyCode\Test>python -m pip install masonite

(venv) E:\PyCode\Test>craft new
[code]

(venv) E:\PyCode\Test>deactivate

[2021-05-08 13:31] josephmancuso commented on #437
That last part doesn't seem right where you deactivate the environment and then run pip list? You have to run that while being inside the environment

[2021-05-08 13:31] josephmancuso commented on #437
Do you have Masonite-logging inside the requirements file of your project?

[2021-05-08 15:19] KitWiz commented on #437
`craft new` incorrectly installed to a system-level directory

[2021-05-08 18:02] josephmancuso commented on #437
I don't have a windows machine to replicate this on but i can't replicate this on a Mac

[2021-05-08 18:04] josephmancuso commented on #437
is there anymore info you can tell me?

[2021-05-08 19:56] Marlysson commented on #437
@anti9en I've tried here the steps that you tried.. and here it's fine.
Maybe you have some masonite version installed outside of a environment.

Try uninstall masonite version in global system by "pip uninstall masonite" and activate the virtual environment and try install passing the "--no-cache" option.

[2021-05-13 10:17] ghost commented on #435
Any Updates?

[2021-05-17 08:31] girardinsamuel commented on #435
Well I did not investigate this no more, another person in Masonite Slack got the same issue with Python 3.8.10.
@josephmancuso what do you think of this patch ?

[2021-05-17 08:54] ghost commented on #435
I think I found a workaround, I request you to give it a try and let me know.

[2021-05-17 09:10] ghost commented on #435
@josephmancuso @girardinsamuel  https://github.com/MasoniteFramework/masonite/pull/438

[2021-05-17 11:23] meyubaraj opened #439 "Maximum Recursion Depth issue while using Accessor"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[code]

<img width="509" alt="Screen Shot 2021-05-17 at 4 50 58 PM" src="https://user-images.githubusercontent.com/67942433/118480693-4fccc600-b732-11eb-9d8e-abde85bdb1ab.png">
<img width="838" alt="Screen Shot 2021-05-17 at 5 07 24 PM" src="https://user-images.githubusercon

[2021-05-17 11:45] OnePieceLv opened #440 "relation table does not exist during I testing database"
**Describe the bug**
Not found table when I testing the database
I use the Postgres database for my test database and define it in the .env.testing file

**To Reproduce**
I create a [demo project](https://github.com/OnePieceLv/masonite-3.0-demo/tree/main
) for replicate

if you want to fix it, just uncomment `from tests.BaseTestCase import BaseTestCase as TestCase`.

**Expected behavior**
if the m

[2021-05-17 12:18] OnePieceLv commented on #440
I fixed it though replace the `Migrations` file that import from `masonite.helpers.migrations` with my custom Migrations file

[2021-05-17 12:22] OnePieceLv commented on #440
In the custom Migration file, the only diff just pass `connection` parameter to `Migration()`

![image](https://user-images.githubusercontent.com/3759810/118487311-2a998100-b74d-11eb-8591-fd50c65728e5.png)
![image](https://user-images.githubusercontent.com/3759810/118487587-751afd80-b74d-11eb-89a6-6d52ec0aa539.png)

[2021-05-17 12:26] #439 closed

[2021-05-23 09:09] yubarajshrestha opened #442 "Application Freezes on AJAX request."
**Bug**
I have created an API and it's working perfectly in Postman. But whenever I try to call it from my nuxt application the whole application freezes and then nothing works. If you try to visit any other page then it takes forever and never responds.

**To Reproduce**
Steps to reproduce the behavior:
1. Create any api with POST method
2. Try it from postman it works,
3. Setup simple nuxt app a

[2021-05-23 14:25] yubarajshrestha commented on #442
Issues resolved thanks to @josephmancuso for his quick response. Server freezing was solved through gunicorn. Simply install Gunicorn. ```pip install gunicorn``` and then instead of ```craft serve``` do ```gunicorn wsgi:application --reload``` you can also add workers using ```-w work_no_here```

CORS related issues can be solved from here, https://docs.masoniteproject.com/security/headers#cors

[2021-05-23 14:25] yubarajshrestha commented on #442
Issues resolved thanks to @josephmancuso for his quick response. Server freezing was solved through gunicorn. Simply install Gunicorn. ```pip install gunicorn``` and then instead of ```craft serve``` do ```gunicorn wsgi:application --reload``` you can also add workers using ```-w work_no_here```

CORS related issues can be solved from here, https://docs.masoniteproject.com/security/headers#cors

[2021-05-23 14:25] #442 closed, assigned to nobody

[2021-05-28 03:58] #435 closed, assigned to nobody

[2021-05-28 04:21] josephmancuso commented on #435
@girardinsamuel I merged in your fix.

@yubarajshrestha The fix you made failed almost every test in the autoloading tests so i had to revert the change

[2021-05-28 04:22] josephmancuso commented on #435
This is available in version 3.0.12 if you can let me know if that fixes the issue

[2021-05-28 04:25] yubarajshrestha commented on #435
I will give it a try and let you know.

[2021-06-17 16:23] #248 closed

[2021-07-14 06:16] nakano16180 opened #446 "masonite with React fails at command npm run dev"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir masonite_test && cd $_
2. pipenv install masonite
3. pipenv run craft new .
4. pipenv install -r requirements.txt
5. pipenv run craft preset react
6. npm install && npm run dev
4. See error

[2021-07-14 16:20] Marlysson commented on #446
That's because of an upgrade of Laravel Mix.

Try change to this:

https://laravel-mix.com/docs/6.0/upgrade#api-for-javascript-frameworks

Basically it's change to mix.js(source, destination).react()

[2021-07-14 23:37] nakano16180 commented on #446
@Marlysson
Thanks!
I create Pull Request.

[2021-07-20 18:55] AxDSan opened #448 "LiveWire for Masonite, when?"
What would we need in order to bring something like Livewire to Masonite? I fell in love with the similarities that it has with Laravel, but with the power of Python, I'm looking for a front-end framework that would work just like Livewirre for Laravel, but for Masonite, I don't wanna get my hands dirty using React, I love the abstraction that Livewire brings to the table and would love to see a p

[2021-07-20 18:56] josephmancuso commented on #448
Would be fairly straight forward. The way livewire works is just maintaining state between the frontend and back via Ajax calls.

I started work on this but it never really became viable as I got too busy

[2021-07-20 19:23] josephmancuso commented on #448
I personally do not have time to work on this. Between a full time job, Masonite 4 and Masonite ORM I can't really afford to pick up a whole new project like this but if you would like to see something like Livewire for Masonite we would have to wait until someone comes into the community that has the skillset to build this

[2021-07-20 19:49] AxDSan commented on #448
I would love to work on this project but I have no idea where to start, nor
have the skillset to perform or even jump into it and on top of it I do
have the desire to do it but don't know nothing, it's sad. Well I'll just
like you said, until someone with the correct skillset and availability can
do it. 😔👌

On Tue, Jul 20, 2021, 2:23 PM Joseph Mancuso ***@***.***>
wrote:

[2021-07-20 19:50] #448 closed, assigned to nobody

[2021-07-22 11:12] yubarajshrestha opened #450 "'MockRoute' object has no attribute 'assertDatabaseHas'"
When using unit test, I encountered a bug. saying 'assertDatabaseHas' attribute is not in 'MockRoute'. I checked the MockRoute file and found that it's missing `assertDatabaseHas`.

**In Masonite Docs**
[link to docs](https://docs.masoniteproject.com/useful-features/testing#asserting-values)
<img width="806" alt="Screen Shot 2021-07-22 at 4 52 34 PM" src="https://user-images.githubusercontent.com/

[2021-07-22 22:22] AxDSan commented on #316
What has been going on with this feature request? I would like to see a package with this, among other things, but everything seems to be so far away... now, I wanted to try out, Masonite, for its similarities with Laravel, but it's maturity tells me that it's a very very early into the game, my best bet would be to switch back to another framework, until its mature enough with all things I wanna

[2021-07-23 07:24] girardinsamuel commented on #316
With Masonite 4 coming in the game there will be more features and we will start to develop Masonite ecosystem such as this one eventually !

@josephmancuso I don't know if you planned to work on this ! Else I can develop something similar to this. I am also thinking that this feature is quite important !

[2021-07-23 13:27] josephmancuso commented on #316
@josephmancuso I don't have anything planned for this but this is definitely a great idea for either a feature of a package

[2021-07-24 10:03] girardinsamuel commented on #316
I have started to work on this as a feature available in M4. I am trying to follow M4 philosophy and to use `Gate` and `Policy` concepts from Laravel.

Stay tuned 😉

[2021-08-07 03:36] sn0rcha opened #451 "Laravel Mix Error"
**Describe the bug**
Unable to get laravel mix working.

**To Reproduce**
Steps to reproduce the behavior:
1. craft new app
2. cd app
3. craft install
4. npm install && npm run dev

**Expected behavior**
```npm run dev``` to work

The following error shows:

[code]

Node.js v14.7.4
Masonite 3.0.12

Any ideas?

[2021-08-14 06:19] yubarajshrestha commented on #451
Everything looks okay on mine with following versions:
[code]

Did you change anything in webpack configurations?

[2021-08-21 18:44] magic-thomas opened #452 "fresh installation gives error. and how to with nginx ?"
I just want to try this interesting framework.

After fresh installation, and ran 'craft serve' in mac,  I got error.

[code]

And how can masonite  go with nginx ?

How can I set nginx configuration file, specially about document root ?

[2021-08-21 19:57] josephmancuso commented on #452
Do you have masonite-validation in your requirements.txt file? And did you install via this file?

Also there's a few guides out there you can Google but here's one. The Masonite 2 and 3 guide for Nginx should be similar. https://dev.to/holiccl/deploying-masonite-2-project-with-nginx-and-gunicorn-3pnj

[2021-08-23 13:23] #452 closed, assigned to nobody

[2021-09-05 11:15] goophps opened #453 "How to use multiple languages?"
How to use multiple languages? I want to develop a project in different national languages, but it seems that this framework does not support multiple languages.

[2021-09-06 07:29] girardinsamuel commented on #453
Indeed for now there is no i18n module in Masonite.
@josephmancuso did you have in mind to add this feature one day ?

[2021-09-08 09:53] goophps commented on #453
I look forward to your masonite-admin

[2021-09-08 12:05] josephmancuso commented on #453
One day yeah. No development plans for it currently

[2021-09-18 19:17] goophps opened #454 "Is this an asynchronous web framework?"
Is this an asynchronous web framework? I heard that the syntax is async def and await.

[2021-09-18 20:48] josephmancuso commented on #454
No

[2021-09-18 20:48] #454 closed, assigned to nobody

[2021-09-30 10:12] yubarajshrestha opened #455 "Mail Job not working in case of amqp enabled."
**Describe the bug**
When I push job in queue with **async** queue driver it works. But when I enable **amqp** as a queue driver everything works but **mail**.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a mail job
2. Enable **amqp** driver as a queue driver.
3. Push mail job

**Screenshots**
<img width="402" alt="Screen Shot 2021-09-30 at 3 51 27 PM" src="https://user-images.gith

[2021-10-04 00:03] girardinsamuel opened #463 "Specify which environment to load in tinker command"
- [ ] Would be great to be able to specify which environment to use when running `python craft tinker` maybe with

[code]
default would be development

- [x] It would be great to display the current environment at tinker start: `Environment: production`.

[2021-10-06 13:10] girardinsamuel commented on #463
Or is it useless as we can do something like `APP_ENV=production && python craft tinker` ?

This is actually a feature from Django, in every commands you can override current env I find this really handy, and could be done in a command mixin:

[code]

[code]

[2021-10-06 17:30] josephmancuso commented on #463
the --environment flag is nice if we can set environment variables on the fly like that. Maybe keep this as a p4 issue and come back to it on request. In the meantime, the second option should work where you set the environments variables before calling the tinker command

[2021-11-07 10:26] girardinsamuel opened #456 "assertRouteHasParameter does not check parameters values"
For now here is the code of this HTTPTestResponse assertion:
I don't know how to check the parameter value...an idea ?
[code]

It could be cool to fix this before release (else we will just discard the checking value feature for now).

[2021-11-07 10:43] girardinsamuel commented on #456
It's the equivalent of this existing feature in M3
https://docs.masoniteproject.com/useful-features/testing#testing-parameters

[2021-11-07 12:11] josephmancuso commented on #456
Can't we just do

[code]

[2021-11-07 12:46] #446 closed, assigned to nobody

[2021-11-07 12:47] #451 closed, assigned to nobody

[2021-11-07 12:47] #437 closed, assigned to nobody

[2021-11-07 12:48] josephmancuso commented on #440
This is fixed?

[2021-11-07 12:48] #440 closed, assigned to nobody

[2021-11-07 12:51] #425 closed, assigned to nobody

[2021-11-07 12:52] josephmancuso commented on #422
Agreed. This will be done in M4

[2021-11-07 12:56] #409 closed, assigned to nobody

[2021-11-07 12:56] josephmancuso commented on #405
I will take a look if this is possible. I don't have ownership of pendulum so not sure if its possible with pendulum

[2021-11-07 12:57] josephmancuso commented on #394
done in M4

[2021-11-07 12:57] #394 closed, assigned to nobody

[2021-11-07 12:59] josephmancuso commented on #382
will need to make sure this is the case with M4

[2021-11-07 13:00] josephmancuso commented on #316
Gates and policies are added in M4

[2021-11-07 13:00] #316 closed

[2021-11-07 13:02] #251 closed

[2021-11-07 13:04] #176 closed

[2021-11-07 13:04] #175 closed

[2021-11-07 13:05] #250 closed

[2021-11-07 13:06] josephmancuso commented on #182
@girardinsamuel does this still need to be done in M4?

[2021-11-07 13:06] #182 closed

[2021-11-07 13:07] #364 closed

[2021-11-07 13:07] #365 closed

[2021-11-07 13:12] #369 closed

[2021-11-07 13:12] #374 closed

[2021-11-07 13:12] #412 closed, assigned to nobody

[2021-11-07 13:12] #414 closed, assigned to nobody

[2021-11-07 13:12] #429 closed

[2021-11-07 13:12] #450 closed, assigned to nobody

[2021-11-07 13:12] #455 closed, assigned to nobody

[2021-11-07 13:14] #267 closed

[2021-11-07 13:17] #171 closed

[2021-11-07 15:28] girardinsamuel commented on #456
Yes we can it's working I have updated the PR.

[2021-11-07 15:57] girardinsamuel commented on #249
I have requested the editing rights for this page. Once I have those, I will add it to the wiki !

[2021-11-07 16:06] #456 closed, assigned to girardinsamuel, josephmancuso

[2021-11-07 18:06] josephmancuso commented on #321
This is no longer the case anyway in Masonite 4

[2021-11-07 18:06] #321 closed

[2021-11-07 19:03] girardinsamuel commented on #249
And here we go : https://wiki.python.org/moin/WebFrameworks 🚀🥳

[2021-11-07 19:03] #249 closed

[2021-11-12 02:01] tpow opened #457 "Craft tinker should include python startup"
The Craft tinker command is handy, but does not process my typical python startup file so the experience is somewhat lacking compared to the usual python interactive shell. It would be nice if it supported the PYTHONSTARTUP variable like the regular shell (possibly with an option to disable it).

Below is a quick stab at adding this support (and also including readline support and tab completion a

[2021-11-12 08:06] girardinsamuel commented on #457
With (soon to be released) Masonite 4, the `tinker` command has been improved !
You should run it with `-i ` option after having installed `IPython`.
Then you will have :
- a nice interactive shell with handy Masonite helpers already imported and with your Masonite models already imported too.
- the shell is a IPython shell so it's quite powerful
- tab completion is done automatically (because it'

[2021-11-12 18:22] tpow commented on #457
Thanks @girardinsamuel, it is nice know that the tinker command is being enhanced. I am personally happy with the standard python shell, but that may be due in part to my python startup file.

[2021-11-13 11:15] girardinsamuel commented on #457
Yes, because `IPython` come with a lot of features such as colored output, auto-reloading, and much more.

[2021-12-06 02:07] josephmancuso opened #458 "AMQP Queue not working correctly"

[2021-12-10 16:29] mitchellp0709 opened #460 "Issue with User Auth and Cookies"
**Describe the bug**

I am creating an API using Masonite and am using the cookie driver for authentication. I am able to log in successfully using Postman and similar tools, but in the browser I can successfully log in with my deployed API but when inspecting the request in dev tools, I see the cookies being sent in the header but they are not found in the cookies section in application.

I figur

[2021-12-10 18:36] AlexMercedCoder commented on #460
To add some more context, I am instructor with General Assembly and used Masonite as the new framework we learn with Python for building web apps. We usually do an API + SPA app, wanted to use Masonite cause it's workflow is more transferable across languages with frameworks like Rails/Laravel.

The problem is with the default cookie driver the frontend would get the set_cookie header but the cook

[2021-12-10 18:45] josephmancuso commented on #460
I'll take a look at this ASAP when I get off of work tonight.

[2021-12-10 22:15] josephmancuso commented on #460
Can you join Slack to go through what exactly the flow is here? I tried to go through the replication steps above but i get a 405 on the login link from the steps.

Also @AlexMercedCoder It seems like you are trying to get the cookie from the frontend? Masonite cookies are "HTTP ONLY" meaning they cannot be gotten from the frontend but you can modify that by doing `set_cookie('cookie', http_only=F

[2021-12-11 04:45] josephmancuso commented on #458
fixed in 3.0.13

[2021-12-11 04:45] #458 closed, assigned to nobody

[2021-12-11 20:14] AlexMercedCoder commented on #460
We aren't trying to access the cookie on the frontend, it just isn't being set (deployed or on localhost). So we'll send the post request to the post route which uses auth.login to check the credentials, correctly verifies them and sends back the expected response with the expected set_cookie headers.

[code]

 but when I go into dev_tools and look at the application tab we don't see the cookie (t

[2021-12-16 04:17] josephmancuso commented on #460
I thought i updated this issue. Maybe i just updated this in Slack.

The issue is that Masonite loads cookies from the browser during browser requests. As part of browser requests, they send a cookie header that has the contents for all the cookies.

On a POST request from AXIOS, the cookies header is not sent. So any cookies set on the website are ignored for AJAX requests.

So the issue here is

[2021-12-16 04:17] #460 closed, assigned to nobody

[2021-12-16 04:22] josephmancuso commented on #405
@jpmateo022 looking at this issue again now i'm not sure Masonite uses any timezones? If you are talking about the ORM and database part, Masonite ORM has a `__timezone__` attribute you can set on models to set the timezone there.

If you want it more "globally" you can set a base model and set the `__timezone__` on the base model and then inherit the base model on all your other models

[2021-12-16 04:22] #405 closed, assigned to nobody

[2021-12-20 15:08] josephmancuso commented on #465
Need to add some kind of filtering abiities

[2021-12-20 15:39] girardinsamuel commented on #465
Do you have a PR linked to this issue ?

[2021-12-20 15:39] josephmancuso commented on #465
@girardinsamuel no I have to push the changes up still.

[2021-12-20 16:45] girardinsamuel commented on #465
Okay let me know when I can review this !

[2021-12-21 21:39] girardinsamuel commented on #382
It's implemented for Masonite 4 ! 🚀

[2021-12-22 13:41] #382 closed

[2021-12-23 13:01] josephmancuso commented on #465
Suggestion also here: https://github.com/MasoniteFramework/masonite4/issues/85

[2021-12-23 22:36] josephmancuso commented on #464
I was going to close this but we might be able to do this through some classes you can build you own logic around

[2021-12-23 23:05] girardinsamuel commented on #464
Yes it would be great. That's on those kind of features that we should pay attention to keep masonite 4 feature philosophy, simplicity and flexible !

[2021-12-26 22:32] josephmancuso commented on #359
Closing in favor of #465. Will use this issue as reference

[2021-12-26 22:32] #359 closed

[2021-12-26 23:25] girardinsamuel opened #470 "Logo is not displayed anymore in Readme"
The link https://masoniteframework.github.io/img/logo.png is broken.

[2021-12-27 22:28] josephmancuso commented on #470
fixed

[2021-12-27 22:28] #470 closed, assigned to nobody

[2021-12-30 05:43] StevenMHernandez opened #472 "Setting the hostname with `python craft serve -b 0.0.0.0` does not work"
**Describe the bug**

`python craft serve -b 0.0.0.0` does not serve the application using the specified host `0.0.0.0`.

**To Reproduce**
Steps to reproduce the behavior:

1. `pip install masonite==4.0.2`
2. Create a new masonite project: `cd masonite-v3-serve && mkdir masonite-v3-serve && project start .`
3. `python craft serve`
    1. This results in the following output: `Serving on http://loc

[2021-12-30 16:09] josephmancuso commented on #472
Looks like this just has to be updated here. Looks hard coded

https://github.com/MasoniteFramework/masonite/blob/f3088e124c40d0f9cd9de8f4518dd3ae4c296db6/src/masonite/commands/ServeCommand.py#L64

[2021-12-31 15:47] josephmancuso commented on #465
Done in v4.1

[2021-12-31 15:47] #465 closed, assigned to nobody

[2021-12-31 15:49] #472 closed, assigned to nobody

[2021-12-31 15:50] josephmancuso commented on #453
We will get to this when we can. No reason to keep issue open. No rush on it but if anyone wants to create a package for it you have my support. I will contribute to it as well

[2021-12-31 15:50] #453 closed, assigned to nobody

[2021-12-31 17:00] josephmancuso opened #474 "Create a way to exclude routes from middleware"
Need a way to specifically exclude routes from being assigned a middleware

[2021-12-31 21:00] Marlysson commented on #474
Isn't the `exempt = [ ]` statement for this?

[2021-12-31 21:33] josephmancuso commented on #474
Thats for excluding routes for CSRF protection. We need to exclude routes from being assigned certain middleware.

Think 5 routes inside a route group with the API middleware stack but one of those routes we don't actually want to have the api middleware stack assigned to it.

[2022-01-02 17:22] josephmancuso opened #476 "Cors header should support multiple origins"
One of the issues with CORS multiple origins is that only 1 `Access-Control-Allow-Origin` value is allowed. So you can't just do

[code]

You need to either return server1 or server2. You can can the value in an environment variable on the server or something but usually what you want to do is:

[code]

So we will need some options to set. We can do this in a backwards compatible way.

It might be

[2022-01-04 04:48] yubarajshrestha opened #477 "Mailable Bug"
**Describe the bug**
I am not sure if this is a bug or it's just me having issue, but I am not able to make it work, following is the detailed code that I am using.

**UserRegistration Mailable**

[code]

**Inside controller**

[code]

Note: I am using mailtrap.

**Exception is thrown**
[code]

[2022-01-04 05:02] yubarajshrestha opened #478 "Issue while using `with_("users")`"
**Describe the bug**
If you use `with_("users")` then this will give issue related to `deleted_at` field.

**To Reproduce**

***UserModel***

[code]

***Role Model***

[code]

***Implementation***

[code]

***Issue***
<img width="1439" alt="Screen Shot 2022-01-04 at 10 44 52" src="https://user-images.githubusercontent.com/7955362/148011568-3b8ea1e8-98b2-49e5-abbe-0891a43f9bce.png">

Note: I have n

[2022-01-04 12:58] josephmancuso commented on #477
@yubarajshrestha are you sure this is the error you are getting? This just looks like the mailable object you put as the error?

[2022-01-04 13:18] girardinsamuel commented on #477
Also just FYI, the project template has been updated. Now the mail configuration is the following:
[code]
Then you don't have to specify `from_()` in your mailable. But of course you can do it to override it or for any other reasons.

[2022-01-04 13:34] yubarajshrestha commented on #477
I do have the same configuration.

[2022-01-04 14:02] yubarajshrestha commented on #477
![Screen Shot 2022-01-04 at 19 46 38](https://user-images.githubusercontent.com/7955362/148070403-1965552e-71fd-41a1-ba57-40219c3ca3c2.png)

[2022-01-04 14:06] yubarajshrestha commented on #477
Following solution fixed the issue:

[code]

[2022-01-04 14:06] #477 closed, assigned to nobody

[2022-01-08 03:28] josephmancuso opened #482 "Add get_files to storage drivers"
Need a way to quickly get all the files of a directory

[2022-01-08 04:40] #482 closed, assigned to nobody

[2022-01-09 14:32] josephmancuso opened #484 "Add start time to the container for when the server first boots"
We can use this for profiling

[2022-01-09 20:36] josephmancuso opened #485 "Request input not ported over from M3 correctly"
In M3 if an input was missing it would return a blank string but in M4 it is returning `False`. Methods should generally return the same data types

[2022-01-10 13:41] #485 closed, assigned to nobody

[2022-01-11 18:57] josephmancuso opened #487 "Throw exception when in debug mode if route is not found"

[2022-01-11 19:56] josephmancuso opened #488 "Add Hashing to the default user seeders"

[2022-01-11 21:15] CptFry opened #489 "add -a to Craft for all options at once"
**Is your feature request related to a problem? Please describe.**
The Craft command has a bunch of nice options already, but there's no way that i'll remember it all.

**What do we currently have to do now?**
Right now I have to create a model, add a migration, then separately create a seeder.

**Describe the solution you'd like**
add a new -a flag that creates a model, a controller, a migration

[2022-01-11 23:30] josephmancuso opened #490 "Missing old helper from view helpers"

[2022-01-11 23:33] josephmancuso commented on #490
Also missing optional helper from view helper

[2022-01-11 23:55] josephmancuso commented on #490
Also missing view exists helper

[2022-01-12 12:57] josephmancuso opened #491 "Hash.make should default to a string and not bytes"
could also have a hash.make_bytes() if we need current behavior

[2022-01-13 09:24] girardinsamuel opened #493 "Loading views with namespace should look in packages vendor"
Right now loading views from a namespace will look only in corresponding Python namespace meaning that it can load view from a internal project namespace or directly from a package.

What's missing is loading view from package vendor directory if the user has published the view, it should be done first to be able to override package views.

It should be done in `views()` of PackageProviders.

Also

[2022-01-13 23:13] Marlysson commented on #488
Is this issue closed because of this line?

https://github.com/MasoniteFramework/cookie-cutter/blob/4.0/databases/seeds/user_table_seeder.py#L15

[2022-01-14 09:07] girardinsamuel commented on #488
I would say yes ! @josephmancuso  ?

[2022-01-14 13:34] josephmancuso commented on #488
yes. that line will store 2 different data types on 2 diff databases.

Postgres will store that as bytes and mysql will convert it to a string and store it

[2022-01-14 14:15] girardinsamuel commented on #488
So we can close this no ?

[2022-01-14 14:16] josephmancuso commented on #488
no. Hash.make() still needs to return a string

[2022-01-14 14:17] girardinsamuel commented on #488
Should be solved here
https://github.com/MasoniteFramework/masonite/pull/492

[2022-01-14 14:18] josephmancuso commented on #488
ooohhhh yeah I thought this was another ticket

[2022-01-14 14:18] #488 closed, assigned to nobody

[2022-01-16 17:17] #491 closed, assigned to nobody

[2022-01-17 22:30] Marlysson opened #496 "Controller creation with slash in its name like "craft controller api/NameController" creates invalid name"
**Describe the bug**
When run creating a controller named with slash(/) ( indication inside folder in creation ) then the name of controller is append the slash, instead just last part after slash (/)

**To Reproduce**
Steps to reproduce the behavior:
1. python craft controller api/PodcastController
2. Folder named as "api" is created and controller name it's **class Api/PodcastController(Controll

[2022-01-18 02:46] messiaqin opened #498 "WARNING: the 'package' argument is required to perform a relative import for '...app.User'"
**Describe the bug**
After initializing the project，execute "craft install" command。

WARNING: the 'package' argument is required to perform a relative import for '...app.User'
![image](https://user-images.githubusercontent.com/20896524/149861875-c03254f0-3e82-4a90-aeaa-d6b2bd5408c9.png)

execute "craft --version" command。
tips：craft --versionWARNING: No module named 'wsgi'
![image](https://user-i

[2022-01-18 04:27] josephmancuso commented on #498
This is an older version of Masonite. Is there a reason you are installing Masonite 2.3? Is this an existing project?

[2022-01-18 05:18] messiaqin commented on #498
It's an exercise  project，what's is the current  version? I'am install it by default command。

[2022-01-18 05:24] messiaqin commented on #498
I check my package list, the Masonite version is

`
masonite            2.3.26
masonite-dot        0.0.5
masonite-logging    1.0.1
masonite-validation 3.0.14
`

[2022-01-18 13:43] josephmancuso commented on #498
Current version is 4.2.0. New projects at this should be using the latest version. v2.3 is no longer supported.

Try version 4 for new projects

[2022-01-18 13:43] #498 closed, assigned to nobody

[2022-01-20 01:25] josephmancuso opened #499 "Route subdomains should be disabled by default"

[2022-01-20 01:50] #496 closed, assigned to nobody

[2022-01-20 01:51] #499 closed, assigned to nobody

[2022-01-21 17:27] #493 closed, assigned to girardinsamuel

[2022-01-21 18:48] girardinsamuel opened #508 "Add a way to configure dev server reload time"
There used to be a way to change the reload time in M3. We should probably add that back to M4. If we set it too low it will crash on some computers so we made it configurable for people with faster machines.

[2022-01-22 09:15] girardinsamuel commented on #508
Actually this is already implemented by using `--i` or `--reload-interval` option to provide time in seconds.

[2022-01-22 09:16] #508 closed, assigned to nobody

[2022-01-22 14:49] girardinsamuel commented on #487
Should we throw this during tests and during dev ? (= not in production).
Or only during development and not when running tests ?

[2022-01-22 15:34] girardinsamuel opened #510 "PackageProvider requires installing package locally when developing"
We should be able to use package provider in the test project located in the package without installing it.

[2022-01-23 09:26] girardinsamuel opened #512 "Add missing debug mode"
In Masonite 3 we had `APP_DEBUG` env variable which could configure if debug mode was enabled or not.

- [ ] this should be added back as a parameter into `config/application.py`
- [ ] a helper `is_debug()` should be added in `application`
- [ ] the mode should be used to display exception page or error 500 page in case of error

Also how we use this with `APP_ENV` ? Should it be related ? Can we

[2022-01-23 10:58] girardinsamuel opened #513 "Add a way to run a task directly without schedule"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to run a task directly to debug it, not through a schedule.

**What do we currently have to do now?**
Right now if a task is scheduled to run e.g. once a day we cannot run it directly locally easily. We can select the task to run with `schedule:run -t MyTask` but if it scheduled to run once a day, it won't start.

[2022-01-23 12:43] girardinsamuel opened #515 "Improve `response.view()` method"
`response.view()` cannot receive view template name as `View.render()` can.

It would be good to be able to do e.g. `response.view("errors.404", 404)`

[2022-01-23 13:56] #513 closed, assigned to girardinsamuel

[2022-01-23 13:57] #474 closed, assigned to nobody

[2022-01-23 14:06] #490 closed, assigned to nobody

[2022-01-23 14:08] josephmancuso commented on #515
umm.. I think it would be hard to do this with the current signature right? What if you want to return an actual string?

[2022-01-23 14:09] josephmancuso commented on #512
So i believe APP_ENV only determined the environment (if you want to check for that) as well as loading `.env.{APP_ENV}` file in (if it exists)

[2022-01-23 14:14] girardinsamuel commented on #515
maybe to avoid breaking change we could have:
[code]

or wait M5 for a breaking change to have a better signature...
not a big deal

[2022-01-23 14:15] girardinsamuel commented on #512
yes I figured that out. So that's okay I will made a proposal for handling debug.

[2022-01-24 03:25] josephmancuso commented on #515
not really sure the issue you are trying to solve with this

[2022-01-24 07:39] girardinsamuel commented on #515
Hmm it's just to simplify things.
I found a bit weird to have to write `Response.view(View.render("auth:login"), 200)`. I feel I would like to write `Response.view("auth:login", 200)`

But that's not very important...

[2022-01-24 08:11] girardinsamuel commented on #484
@josephmancuso I found you have done it here : https://github.com/MasoniteFramework/masonite/blob/66edeecafe9400824b5e60efa56ce1aca8db58bf/src/masonite/providers/FrameworkProvider.py#L22

Should we close this issue ?

[2022-01-24 08:12] girardinsamuel commented on #510
This has been fixed  in #511.

[2022-01-24 08:12] #510 closed, assigned to nobody

[2022-01-25 21:10] josephmancuso commented on #515
ehh that tightly couples these 2 classes together. Not feeling this right now

[2022-01-25 21:10] #515 closed, assigned to nobody

[2022-01-28 07:59] #484 closed, assigned to nobody

[2022-02-02 13:55] josephmancuso opened #520 "Including the wrong or incorrect template is showing an incorrect template not found exception"
if you have a template and try to incorrectly include another one

like:

[code]

It is throwing a template not found exception but for the wrong template name

[2022-02-03 01:00] #487 closed, assigned to nobody

[2022-02-03 01:00] #512 closed, assigned to girardinsamuel

[2022-02-04 18:49] girardinsamuel opened #521 "`Route.add_controller_locations` is not working correctly"
This method is trying to load `Controller` instances from some python modules strings given in input.

The issue is that it's trying to load objects of type `src.masonite.controllers.Controller` and not `masonite.controllers.Controller`.
It's working correctly in the tests/integrations project of this repo but it's not working for packages.

It's working for normal projects though... So I am not s

[2022-02-06 22:02] #520 closed, assigned to nobody

[2022-02-14 06:07] Marlysson opened #528 "Improving authorization policies registration"
**Is your feature request related to a problem? Please describe.**
Instead of passing a list of tuples, with this change is passed a Policy instance with related model injected.

**What do we currently have to do now?**
Change Policy signature

**Describe the solution you'd like**
Passing the user into policy constructor

- [x] Is this a breaking change?

**Additional context**
Change signature of

[2022-02-14 09:15] girardinsamuel commented on #528
I will think about this 😉

[2022-02-15 01:37] josephmancuso opened #530 "Ensure middleware set on route groups is called before middleware set on routes"

[2022-02-15 02:29] #530 closed, assigned to nobody

[2022-02-15 05:35] Bindukarkee opened #532 "Mail notification driver is not using default mail driver defined in `config/mail.py`"
I am trying to implement notification feature in my application but it looks like the feature is yet in developing phase .
Procedure:
1. Firstly, I created a notification Test
2. Then, used the channel mail for notification
3. When I used to_mail method inside notification, it printed mail in terminal.

Could  you please  guide  me how it can be resolved .

When I went through the code, I found fo

[2022-02-15 09:53] girardinsamuel commented on #532
Hi ! Thanks for reporting this issue. Indeed something has been forgotten here.
We made a fix in the PR, we will release it soon.

👉 Now the default behaviour is to use default mail driver for sending mail notifications (`config/mail.py`).

And it's possible to override mail driver for a given notification by using `driver()` method of the Mailable:

[code]

Doc has been updated here:
https://docs

[2022-02-15 10:02] #532 closed, assigned to nobody

[2022-02-16 17:20] goophps opened #534 "Why are your software version numbers jumping so fast?"

[2022-02-16 20:47] girardinsamuel commented on #534
Hi ! You can read more about Masonite release cycle here : https://docs.masoniteproject.com/prologue/release-cycle

Sometimes, some minor features are added from feature requests, and so we need to release a new minor increasing the second number.

[2022-02-16 20:49] #534 closed, assigned to nobody

[2022-02-19 20:30] goophps commented on #534
I mean, you update very few features and the version number jumps fast. @girardinsamuel

[2022-02-19 20:57] josephmancuso commented on #534
Lol we have been. See the change logs on the release page. Any time you see something in the added blocks the minor version will increase https://github.com/MasoniteFramework/masonite/releases

[2022-02-20 05:42] Poraksis opened #537 "Resolving route names"
**Is your feature request related to a problem? Please describe.**
There are some code duplications at
`HTTPRoute.py => to_url` and `Router.py => compile_to_url class method`

**What do we currently have to do now?**
These two method exactly same with each other.

**Describe the solution you'd like**
A separate method can be used to reduce code size.

**Describe alternatives you've considered**
I'

[2022-02-20 12:55] josephmancuso commented on #537
I would not be open to changing the route definitions but i'm not sure on what you want to enhance here. Are you saying the performance on routes are slow? Are you saying the time it takes for a route to compile to a url is slow? Are you saying you want to change the route definition to something more clear? Are you saying we should refactor because code is duplicated?

A few things to note:
* The

[2022-02-23 11:15] Bindukarkee opened #539 "Unable to create task"
### Describe the bug

I am not able to create task using `craft` command.

### Expected behaviour

When I run `python craft task TaskName` a TaskName file should be created. But it's not.

### Steps to reproduce the bug

1. Create masonite project
2. Try to create task using craft command.

### Screenshots

[code]

### OS

Linux

### OS version

Ubuntu 18.04

### Browser

_No response_

### Masoni

[2022-02-23 12:01] girardinsamuel commented on #539
hi ! I can't reproduce the issue when running `python craft task MyTask`.

Do you have this line in your Kernel.py file?
[code]

[2022-02-23 14:02] Bindukarkee commented on #539
Hi!
I do have self.application.bind("tasks.location", "app/tasks") , this line on my Kernel.py file

[2022-02-23 14:04] josephmancuso commented on #539
@girardinsamuel is this missing from the MANIFEST.in file maybe? Maybe the stub file didn't come with the build

[2022-02-23 14:33] girardinsamuel commented on #539
No I tried with the latest version on a new crafted project and it works !

[2022-02-23 14:34] yubarajshrestha commented on #539
@josephmancuso @girardinsamuel are you guys using `ubuntu`?

[2022-02-23 14:38] josephmancuso commented on #539
no thats a good point maybe a file location issue on linux?

[2022-02-23 14:43] girardinsamuel commented on #539
Yep it's happening on Linux, I have reproduced it. It's an issue with case of file. I will fix it asap !

[2022-02-23 15:20] #539 closed, assigned to nobody

[2022-02-24 16:40] yogesh-acharya opened #541 "Nested Validation with list"
### Describe the bug

Using * for nested validation with list is not working . I think that * is not being replaced and the validation is carried out for key with * instead .  I created a rule enclosure  to validate the post request

    def rules(self):
        return [
            required(["purchase_order_detail.*.purchase_description"])
        ]

This is the response from the application

[co

[2022-02-26 06:09] yubarajshrestha commented on #541
@josephmancuso I want you to do the following post request validation to better understand the problem.

**Process**
1. Create any post route
2. Below we have different cases of json data try sending post request with different cases:
[code]
3. Validate the request using following rule, and you will get different results:
[code]
Error in case 4:
[code]
It's even weird that the following test case

[2022-02-26 15:29] cercos opened #544 "Return empty list when using file input fields as list and no file is selected"
### Describe the bug

Return an empty list when using `<input type="file" name="some_file[]">` and no file is selected.

### Expected behaviour

Return empty list when no file selected

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

Linux

### OS version

KDE 5.24.1

### Browser

_No response_

### Masonite Version

4.7.0

### Anything else ?

Possible fix c

[2022-02-26 16:32] Marlysson commented on #544
Does the correct is a None value?

[2022-02-26 20:38] Marlysson opened #545 "Task should run via command manually by its name or class name"
### Describe the bug

When run:
[code]

Nothing appear in the console.

### Expected behaviour

Should run the task.

### Steps to reproduce the bug

1. Create the task without name
2. Run it manually via terminal

### Screenshots

_No response_

### OS

Windows

### OS version

Windows 10

### Browser

_No response_

### Masonite Version

4.6.1

### Anything else ?

_No response_

[2022-02-27 16:44] #545 closed, assigned to nobody

[2022-02-27 17:00] #544 closed, assigned to nobody

[2022-02-27 17:06] josephmancuso opened #548 "Update nested validation with index number instead of *"
### Is your feature request related to a problem?

Currently when there is a validation error when using the `*` nested validations it returns an error like `The users.*.last_name field has duplicate values`. It should show an error like `The users.3.last_name field has duplicate values`

​

`Update`

​
<br />[Tara Task](https://app.tara.ai/masonite-x-inc/*/tasks/42)

[2022-02-27 20:35] #541 closed, assigned to nobody

[2022-02-27 20:37] josephmancuso commented on #537
I would be open to something like

[code]

[2022-02-27 20:38] josephmancuso commented on #537
but not sure how that makes this feature better

[2022-02-27 20:39] josephmancuso commented on #548
@girardinsamuel is this possible? we currently hide all the fetching logic behind the dotty code so im not sure its possible to fetch the index of the problem list right?

[2022-03-01 03:06] cercos opened #549 "Paginator calculating last_page wrong when using soft deletes"
### Describe the bug

The paginator gives the wrong last_page count when using soft deletes.  If you had 10 database entries with a per_page of 5, when you delete 6 entries, the last_page should be back at 1 but it stays at 2.

### Expected behaviour

Not include soft deleted rows in last_page count

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

Linux

###

[2022-03-01 14:01] josephmancuso commented on #549
This should be an easy fix. When we perform a new query to get the totals we create a new query builder. On this new query builder must not be passing the global scopes

[2022-03-01 14:02] josephmancuso commented on #549
https://github.com/MasoniteFramework/orm/blob/2.0/src/masoniteorm/query/QueryBuilder.py#L1525-L1527

[2022-03-04 11:10] girardinsamuel opened #550 "`actingAs` tests helper does not log user in when using get,post... test methods"
### Describe the bug

when doing in a test
[code]

user is not logged in during the request to "/".

**What is happening ?**
I think it's because when using `get("/")` in a test the request will be overriden and then the user logged in won't be logged in anymore.

### Expected behaviour

The user should be logged in.

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

#

[2022-03-05 05:52] yubarajshrestha opened #552 "Validation Error Message for individual input fields."
### Is your feature request related to a problem?

There's no any way to get the validation error message for the individual form fields.

### What do we currently have to do now?

We have option get list all the validation error message if exists.
[code]

### Describe the solution you'd like

The solution is to get above response as well as ability to get individual error message like below:
[cod

[2022-03-07 06:18] yubarajshrestha opened #554 "Notification not working"
### Describe the bug

First of all the docs has issue, [see the import ](https://docs.masoniteproject.com/features/notifications#basic)
That should be `from masonite.notification import Notification`.

I followed the example, app gives following error:
[code]

But if I change import to this: `from masonite.notification import NotificationManager` it works.

### Expected behaviour

_No response_

#

[2022-03-07 10:04] girardinsamuel commented on #554
You're right ! I have updated the docs.

[2022-03-07 10:04] #554 closed, assigned to nobody

[2022-03-07 10:17] Bindukarkee opened #555 "Task Scheduling does not return any value when schedule command is run"
### Describe the bug

[code]

[code]

### Expected behaviour

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

Linux

### OS version

Ubuntu 18.04

### Browser

Chrome

### Masonite Version

4.6.1

### Anything else ?

_No response_

[2022-03-07 11:41] girardinsamuel commented on #555
Hi ! You must have an issue with your task because if you try with this simple task
[code]
you should see the `executed` message when running `python craft schedule:run`.

Could you try to just simplify your task to see if it's working ? Then maybe you will be able to debug it.

[2022-03-08 06:07] Bindukarkee commented on #555
Hi! I tried it, now it is working. Thank You!

[2022-03-08 06:09] #555 closed, assigned to nobody

[2022-03-09 15:58] leonardomateo opened #558 "Incorrect .from_('') field when sending emails"
### Describe the bug

When sending emails, I'm getting the wrong email address in the from field. in the build I have,  .from_(noreply@aspent.org) and this is the email that I want be in the from field

![Screen Shot 2022-03-09 at 12 39 23 AM](https://user-images.githubusercontent.com/8109312/157477252-1e440543-0089-482d-ad1d-ef7298c89a76.png)
.

However the email i'm getting in the from field whe

[2022-03-11 09:30] girardinsamuel opened #562 "Fix deprecation warning with `distutils` module"
`distutils` module will be deprecated in Python `3.12`.
[code]
For now we are using it in `AuthCommand`:
[code]
We should be able to use `shutil.copytree` instead.

[2022-03-14 03:20] #558 closed, assigned to girardinsamuel

[2022-03-18 16:31] girardinsamuel commented on #548
You're right it's not that simple ! But it's not the only problem, we could mark this a low priority and not easy for now.

[2022-03-18 18:09] #562 closed, assigned to nobody

[2022-03-21 12:00] josephmancuso opened #566 "Add logging to views"
### Is your feature request related to a problem?

no

### What do we currently have to do now?

_No response_

### Describe the solution you'd like

Need to be able to listen for logging output for views. Can be used for creating a debugging tab for Masonite Debugbar

### Describe alternatives you've considered

_No response_

### Would this be a breaking change ?

- [ ] Yes

### Anything else ?

[2022-04-01 07:15] yubarajshrestha opened #572 "AMQP driver is incomplete"
### Describe the bug

I am not sure if this is bug but we need exchange feature in AMQP Driver which is not being used right now. Also I think we need option to add exchange type as well.

[code]

### Expected behaviour

Should be able to use exchange feature and provide types in connection.

### Steps to reproduce the bug

Easy step is to add exchange type and push exchange messages.

### Screens

[2022-04-01 12:33] josephmancuso commented on #572
We should be able to do this through the options in the config dict.

[2022-04-01 12:48] yubarajshrestha commented on #572
Yea but, we also have to add things in connection type right?

I saw the code but I did not find anything referencing to config.

[2022-04-01 12:53] josephmancuso commented on #572
I mean here we need to add support for more options right?

https://github.com/MasoniteFramework/masonite/blob/4.0/src/masonite/drivers/queue/AMQPDriver.py#L72-L81

[2022-04-01 12:54] josephmancuso commented on #572
we can do something like:

[code]

[2022-04-01 14:24] yubarajshrestha commented on #572
yes also in connection type we need configuration

[2022-04-05 13:03] dwedigital opened #573 "Fix issue with cookies failing on new projects"
### Describe the bug

I have done a clean install of masonite (and had to additionally pip install masonite-orm as a module error was thrown)

Ran `python craft serve` then visited local host to see a TypeError - token must be in bytes.

### Expected behaviour

Some sort of initial landing page loads without errors after clean install

### Steps to reproduce the bug

_No response_

### Screenshots

[2022-04-05 13:18] girardinsamuel commented on #573
Hi !

Did you run `project install` inside the directory ? (as explained once you have crafted the project with `project start`)

It looks like you did not define the APP_KEY env variable that is required for the project to run. Is a string present in `APP_KEY` variable of your `.env` file ?

[2022-04-05 13:24] dwedigital commented on #573
There is. It had a `=` at the end and removed that then new error thrown – Incorrect Padding

From: Samuel Girardin ***@***.***>
Date: Tuesday, 5 April 2022 at 14:18
To: MasoniteFramework/masonite ***@***.***>
Cc: Dave Edwards ***@***.***>, Author ***@***.***>
Subject: Re: [MasoniteFramework/masonite] TypeError - Token must be bytes (Issue #573)

Hi !
Is a string present in APP_KEY variable of you

[2022-04-05 13:30] girardinsamuel commented on #573
Normally the key should be generated when installing the project.
Did you run project install inside the directory ? (as explained once you have crafted the project with project start)

Else you can still generate a key in your .env file automatically after creating the project with `python craft key`.

[2022-04-05 13:34] dwedigital commented on #573
Yes ran `project install` which scaffolded out the whole project and also have run `python craft key` and still the same error

[2022-04-05 13:39] girardinsamuel commented on #573
Ok. After running `python craft key` did you have a `.env` file at project root containing
[code]
?

[2022-04-05 13:42] dwedigital commented on #573
Yes, I have never said the `.env` file never existed. It has always been there since I ran `project install`

[2022-04-05 13:48] girardinsamuel commented on #573
The value provided to the crypto module is None so it looks like key is not there. That is why I was checking that your project was setup correctly. For now I cannot reproduce this error.

Could try to run `python craft tinker` and then type `config("application.key")` ? Do you see a key ?

[2022-04-05 13:56] dwedigital commented on #573
Sorry, 100% understand why you were checking but it is there and I can get the key within tinker:

[code]

Not fussed about sharing as can regenerate and only a local dev at the moment

[2022-04-05 14:02] girardinsamuel commented on #573
Okay. Could you post the full stack trace ? (maybe the one you have in terminal will be easier ?)
Thanks 🙏

(You can hop on Masonite Discord to continue troubleshooting this bug if you prefer https://discord.gg/TwKeFahmPZ 😉. https://discord.com/channels/916859858089828392/960904737908215819)

(Better stack traces and troubleshooting tools are coming to Masonite but not released yet..for now it's a

[2022-04-05 22:31] josephmancuso commented on #573
This is due to the cookies issue. Delete your cookies for localhost and it will work.

It's trying to use the cookies set on a previous Masonite app or a laravel app.

[2022-04-06 07:11] dwedigital commented on #573
et voila - solved this issue. Thanks @josephmancuso, turns out pretty simple when you know how!

[2022-04-06 12:08] josephmancuso commented on #573
@dwedigital @girardinsamuel this is kind of a known issue I'm just not sure how to solve it. We have to somehow refresh the cookies based on new projects everytime it detects trying to run a new project.

The cookies are saved on the localhost domain so when you run a new app on localhost it tries to use the same cookies as a previous project.

We could somehow detach the app key encryptions from

[2022-04-06 12:11] girardinsamuel commented on #573
Yes we should do something about it and also eventually give a clear message to the user.
With Django there is no problem, so we should address that.

[2022-04-06 13:24] josephmancuso commented on #573
I'll reopen issue with a new title to keep track of this

[2022-04-07 00:27] cercos opened #574 "Add query string params to url using route or url helper"
### Is your feature request related to a problem?

Add query string params to url using route or url helper

### What do we currently have to do now?

_No response_

### Describe the solution you'd like

Add query string params to url using route or url helper

### Describe alternatives you've considered

_No response_

### Would this be a breaking change ?

- [ ] Yes

### Anything else ?

_No res

[2022-04-07 06:30] girardinsamuel commented on #574
Hi ! I will try to derive some specifications from your feature request:

I think we should able to use it in the following place:

- url helper `url`:
[code]
- url helper `route`:
[code]
- redirect method
[code]
- maybe other places..

What do you think ?

[2022-04-07 14:45] girardinsamuel commented on #572
I added connection options and exchange option (see PR for more info) 😉

[2022-04-08 07:30] girardinsamuel commented on #572
@yubarajshrestha does it solve what you wanted to do ?

[2022-04-09 13:01] cercos commented on #574
Looks good.  Appreciate the fast response.

[2022-04-11 01:28] #572 closed, assigned to nobody

[2022-04-11 01:48] #574 closed, assigned to nobody

[2022-04-12 19:24] girardinsamuel opened #582 "Improve error handling"
There are use cases not correctly covered by current ExceptionHandler especially when accepted content is `application/json` (for API mostly).
The "exception lifecycle" needs to be changed a bit.

Also, we should add some basic HTTP exceptions (403, 404) that we could render.

I am writing the error handling page on the documentation, and I have found some minor adjustements to be made. I will ope

[2022-04-12 22:15] girardinsamuel opened #584 "`Dump` feature should also dump data in console not only in browser"
### Is your feature request related to a problem?

Dump should dump in console not only in browser

### What do we currently have to do now?

Only in browser

### Describe the solution you'd like

Dump should dump in console not only in browser

### Describe alternatives you've considered

_No response_

### Would this be a breaking change ?

- [ ] Yes

### Anything else ?

_No response_

[2022-04-13 00:01] #582 closed, assigned to girardinsamuel

[2022-04-13 13:08] girardinsamuel opened #585 "Add back db validation rules"
This PR https://github.com/MasoniteFramework/validation/pull/43 was implementing db validation rules on standalone validation package.

We should re-integrate those two rules, into validation core.

As a reminder, usage was:

[code]

[code]

[2022-04-13 13:11] girardinsamuel opened #586 "Add `bail` validation rule"
### Is your feature request related to a problem?

It is possible to "stop on first validation failure" in Laravel and it would be great to do the same here in Masonite validation, to avoid writing complex rules with `exists` or `when`
https://laravel.com/docs/8.x/validation#stopping-on-first-validation-failure

### What do we currently have to do now?

For now it's not possible or we have to writ

[2022-04-13 13:13] girardinsamuel commented on #586
As a base this PR https://github.com/MasoniteFramework/validation/pull/47/files was trying to implement this.

[2022-04-14 08:23] goophps commented on #573
@girardinsamuel Looking forward to your masonite-admin

[2022-04-14 12:21] girardinsamuel commented on #489
This should be done in https://github.com/MasoniteFramework/orm/ repo, so I will transfer the issue.

[2022-04-14 12:21] #489 closed, assigned to nobody

[2022-04-15 08:11] #584 closed, assigned to girardinsamuel

[2022-04-15 15:53] girardinsamuel opened #589 "Extensions with two dots such as `.tar.gz` are not handled correctly by Storage"
### Describe the bug

Using Storage.put, Storage.put_file or Storage.store with a file named `post.tar.gz` will not work correctly as the parsed
extension is `.gz`  instead  of `.tar.gz`.

### Expected behaviour

The parsed extension should be correct

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

macOS

### OS version

Monterey

### Browser

_No response_

[2022-04-15 16:32] girardinsamuel opened #590 "Appending `/` to a route ending with a parameter raise an issue"
### Describe the bug

For now we can only do:
[code]

because doing:

[code]

raises `AttributeError` - `'NoneType' object has no attribute 'groups'`

### Expected behaviour

I would like to be able to do:
[code]

without having an error.

### Steps to reproduce the bug

_No response_

### Screenshots

## Stack trace

[code]
<img width="932" alt="image" src="https://user-images.githubusercontent.c

[2022-04-16 16:40] #590 closed, assigned to nobody

[2022-04-23 02:43] #322 closed

[2022-04-23 02:44] #589 closed, assigned to nobody

[2022-04-23 03:08] #537 closed, assigned to nobody

[2022-04-25 07:34] girardinsamuel opened #600 "Add missing remember() method on`Cache` feature"
It's present in the drivers but not in the main cache class.

[2022-04-25 07:45] girardinsamuel opened #601 "Add back way to change request method from a HTML form"
It was possible in M3:
https://docs.masoniteproject.com/v/v3.0/the-basics/requests#changing-request-methods-in-forms-and-urls

Related code :
- view helper: https://github.com/MasoniteFramework/masonite/blob/3.0/src/masonite/helpers/view_helpers.py#L6
- request method changing: https://github.com/MasoniteFramework/masonite/blob/3.0/src/masonite/request.py#L289

[2022-04-25 08:17] #600 closed, assigned to nobody

[2022-04-27 16:32] girardinsamuel opened #606 "Configure dev server to avoid various issues in development"
Some users reported different glitches related to serving the app with `waitress`.

We should either better configure the dev server or upgrade it to something else.

We could have a look into what's Django is using...

[2022-04-28 01:55] #601 closed, assigned to nobody

[2022-04-28 02:09] #552 closed, assigned to nobody

[2022-04-28 06:50] girardinsamuel commented on #585
Closed with #596

[2022-04-28 06:50] #585 closed, assigned to nobody

[2022-04-28 06:52] girardinsamuel commented on #550
Closed in #588

[2022-04-28 06:52] #550 closed, assigned to girardinsamuel

[2022-04-28 07:52] girardinsamuel commented on #606
What we can with waitress is:
- increasing threads number, default is 4 for waitress

https://docs.pylonsproject.org/projects/waitress/en/latest/arguments.html

[2022-04-29 02:54] #606 closed, assigned to nobody

[2022-05-01 21:45] mina4best opened #609 "Dump.dd"
### Describe the bug

Dump.dd is not working in views
{{ Dump.dd(session()) }}
it raises an error
'Dump' is undefined

### Expected behaviour

it should dd the session()

### Steps to reproduce the bug

1. put {{ Dump.dd(session()) }} in any view and it will raise an error

### Screenshots

_No response_

### OS

Linux

### OS version

20

### Browser

_No response_

### Masonite Version

4.6.1

#

[2022-05-01 21:46] #609 closed, assigned to nobody

[2022-05-02 01:28] josephmancuso opened #610 "Need to fix JWT token generating same token"
### Describe the bug

JWT Auth token generates the same token

### Expected behaviour

_No response_

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

macOS

### OS version

Mac

### Browser

_No response_

### Masonite Version

latest

### Anything else ?

_No response_

[2022-05-02 13:25] mstfblci opened #612 "Need to add email verification"
### Is your feature request related to a problem?

No

### What do we currently have to do now?

_No response_

### Describe the solution you'd like

MustVerifyEmail class add to User model, Email Verification Template and Middleware

### Describe alternatives you've considered

_No response_

### Would this be a breaking change ?

- [ ] Yes

### Anything else ?

_No response_

[2022-05-02 14:40] mstfblci commented on #610
Is there user authentication with jwt token?

[2022-05-02 21:49] josephmancuso opened #613 "Add Route Views"
### Is your feature request related to a problem?

Route views are a way where you can specify a view directly instead of needing to create a controller method for it

### What do we currently have to do now?

Need to create a controller method and return a view

### Describe the solution you'd like

Need to have something like this:

[code]

### Describe alternatives you've considered

_No respon

[2022-05-03 07:09] mina4best opened #614 "dd not working in views"
### Describe the bug

dd(arr) not working in views but working in controllers only it raise dd not found

### Expected behaviour

_No response_

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

Linux

### OS version

20

### Browser

_No response_

### Masonite Version

4.6.1

### Anything else ?

_No response_

[2022-05-03 13:49] os-nikita opened #615 "TestCase's `actingAs()` return type set to None, but should be own class"
### Describe the bug

Release `4.11` fixed the lack of a `return self` in several TestCase methods. However, `None` was set as the return type, breaking IDE autocompletion when chaining.

### Expected behaviour

The return type of `actingAs()` and several other methods should be `"TestCase"` to match the other correctly-typed methods. This will allow IDE autocompletion to work with chaining method

[2022-05-03 14:10] josephmancuso commented on #610
Fixed in #611

[2022-05-03 14:10] #610 closed, assigned to nobody

[2022-05-03 14:16] os-nikita commented on #615
I was somehow on a relatively old version of Masonite, when latest `4.12+` has this fixed already. Not an issue.

[2022-05-03 14:58] os-nikita commented on #615
I've updated and re-opened this issue. The relevant problem now is the return type in TestCase.

[2022-05-05 03:01] josephmancuso commented on #615
Fixed in https://github.com/MasoniteFramework/masonite/commit/8a6420900b1aeffe7ec2e697284fecb6d565a309

[2022-05-05 03:01] #615 closed, assigned to nobody

[2022-05-05 03:06] #614 closed, assigned to nobody

[2022-05-05 03:07] #613 closed, assigned to nobody

[2022-05-06 10:30] goophps commented on #573
Very suspicious, your version numbers are growing too fast.

[2022-05-06 11:35] josephmancuso commented on #573
@goophps whats the suspicious part? see the change log. We release new features or fixes every few days. New features you can see here: https://github.com/MasoniteFramework/masonite/releases

Any new features require a bump to the minor version number:

From the SEMVER org:

[code]

[2022-05-07 07:57] os-nikita opened #618 "Allow unbound class resolution from container"
### Is your feature request related to a problem?

Currently, resolving a dependency from the container requires previously binding that class in some manner explicitly, even if all that is required to "resolve" the class is to simply instantiate it as `AnyClass()`.

Any sufficiently large and complex application will require dozens of such rote bindings.

**The proposal here is to make container

[2022-05-07 07:58] os-nikita commented on #618
~I've got a simple POC locally, I will open a PR once I acquire clarity from which branch I should start. 😅  `4.0` ?~

PR open.

[2022-05-07 08:00] theokafadaris opened #619 "File Validation from form input is failing"
### Describe the bug

Hello,
I am trying to perform file validation that is coming from a form.
https://docs.masoniteproject.com/features/validation#file

I am adding the following simple validation rule in the request.validate :
` validate.file('image')`

The error that I am getting is:
https://pastebin.com/9qwiX1YK

The server is returning also "500 Internal Server Error".

### Expected behaviou

[2022-05-12 09:56] girardinsamuel commented on #619
hmm you're right, I am looking into this 😉.

[2022-05-13 10:19] os-nikita opened #625 "SlackDriver `send_via_webhook` missing `json=` parameter name for payload"
### Describe the bug

Currently an `invalid_payload` error is returned when using the Slack notification driver in webhooks mode.

<img width="347" alt="image" src="https://user-images.githubusercontent.com/92428260/168263072-a0c8aa52-296e-4c2c-bb49-f13cfb7defe1.png">

<img width="536" alt="image" src="https://user-images.githubusercontent.com/92428260/168263121-64674bc2-4147-4519-a354-fe24ce14c58

[2022-05-14 13:39] os-nikita opened #627 "Mailgun Driver does not support `eu` domains in API"
### Describe the bug

When adding a new domain in Mailgun, you have the option of specifying EU as the region; US is the default. If the developer does so, then the base API url changes from `https://api.mailgun.net/v3/` to `https://api.eu.mailgun.net/v3/`.

The Masonite Mailgun driver is currently hardcoded to the US endpoint with no way of supporting the EU endpoint without adding a custom drive

[2022-05-14 14:31] os-nikita commented on #612
For reference, Laravel have a great DX for this: https://laravel.com/docs/9.x/verification

I may take a crack at starting a PR next week for this, useful for what we're working on.

[2022-05-15 15:12] Marlysson commented on #627
I think that US/EU are values to define the region to mailgun uses in mailing. The domain value ( defined in MAILGUN_DOMAIN ) is the address email that you will use to send the emails.

[2022-05-16 05:22] circulon opened #630 "Change how Validation rules are configured"
### Is your feature request related to a problem?

Currently in 4.0 the Dictionary method for defining multiple field validation rules and customising them is not as easy as it could be.
Some customisations will first require PR's to fix the validator before it can be used with custom options.
This would be a less preferable method as it will not address the underlying customisation issues

Exampl

[2022-05-16 08:42] #625 closed, assigned to nobody

[2022-05-16 09:40] goophps commented on #627
@girardinsamuel Very much looking forward to your masonite-admin

[2022-05-16 09:40] goophps commented on #619
@girardinsamuel Very much looking forward to your masonite-admin

[2022-05-16 09:42] girardinsamuel commented on #619
@goophps It's still in development. I will keep you posted. We will post the progress on this on Masonite Discord. If you want info or discuss about it, please use Discord and not any Masonite issues. Thanks 🙏

[2022-05-16 09:42] goophps commented on #566
@girardinsamuel Very much looking forward to your masonite-admin

[2022-05-16 10:57] goophps opened #631 "Hi, can I create multi-apps? For example, an admin, an index"
### Is your feature request related to a problem?

no

### What do we currently have to do now?

_No response_

### Describe the solution you'd like

no

### Describe alternatives you've considered

_No response_

### Would this be a breaking change ?

- [ ] Yes

### Anything else ?

_No response_

[2022-05-16 11:12] girardinsamuel commented on #631
Hi ! Please join our [Discord community](https://discord.gg/TwKeFahmPZ) to better help you on this subject. It will be easier to discuss what you're trying to achieve here.

GitHub issues are better suited for feature requests or bug reports. Thanks 🙏.

But to answer your question, there is no limitation in Masonite to do multi-apps, but you will need to explain a bit more what you want to do.

[2022-05-16 11:26] #631 closed, assigned to nobody

[2022-05-16 12:44] josephmancuso commented on #612
Thanks. I don't like the way we did it in 3.0 which is why I never brought that feature over to 4.x

[2022-05-17 01:30] #627 closed, assigned to nobody

[2022-05-17 02:07] josephmancuso commented on #630
I am pretty sure we can just do something like this right?

[code]

[2022-05-17 06:34] os-nikita commented on #612
What didn't you like about your previous implementation? Useful to keep the lessons learned, if you don't mind sharing.

[2022-05-17 07:53] os-nikita opened #633 "URL paths with `=` in a parameter value result in 404 Not Found in valid routes"
### Describe the bug

If you pass an `encrypted` value (such as from Fernet) to a route parameter, the route will not be resolved. I believe this is because the presence of `=` in the value is enough to make the framework think it's a query argument, thus not correctly interpreting the route structure.

This also applies to `base64-encoded` values, which can also contain `=` at the end.

Example o

[2022-05-17 07:54] girardinsamuel commented on #633
That's an issue indeed ! Thanks for reporting this, we will get to it ASAP.

[2022-05-17 08:21] os-nikita commented on #630
I'm already doing this and it's pretty close to what you're suggesting, but built in:

[code]

Unless I'm misunderstanding something, I don't think that this proposed change is necessary?

[2022-05-17 08:24] os-nikita commented on #573
Quick fixes and frequent releases are a sign of healthy project maintenance. What would be more concerning is a growing list of issues and highly infrequent bug fix releases.

[2022-05-17 08:26] os-nikita commented on #573
How about looking at the app key? If it's changed when serving, clear cookies on next request.

[2022-05-17 08:29] girardinsamuel commented on #573
Yeah why not...

I had this issue a long time ago but now I really did not manage to reproduce it again, so it's hard to work on it.

[2022-05-17 08:50] girardinsamuel commented on #633
Actually looking again into the code. You can fix this by specifying a route compiler in your route parameter.
[code]

Available route compilers are:
https://docs.masoniteproject.com/the-basics/routing#route-compilers
and `signed` is handling `=` in urls because its regex is `([\w\-=]+)`

[2022-05-17 09:54] os-nikita commented on #633
But that wouldn't solve the issue with base-64, right?

`base64('foo') == 'Zm9v'`

`base64('foo1') == 'Zm9vMQ=='`

[2022-05-17 09:56] os-nikita commented on #633
You're right, that does work, thanks!

[2022-05-17 09:56] #633 closed, assigned to nobody

[2022-05-17 11:28] goophps commented on #619
ok, thinks

[2022-05-17 13:00] josephmancuso commented on #612
I think we had like email sending inside the model, verifying was done against the model when it prob should have been done in a middleware. I don't remember exactly how it was done but I didn't really like it. Just very clunky. Most of the logic was done inside the scaffolded controllers which prevents us from updating any issues, etc.

We'll have to flesh this idea out a bit and detail each step

[2022-05-17 14:13] os-nikita commented on #612
Thanks for that.

I've just implemented and deployed email verification today so can provide a high level overview of what I did:

* Middleware: EmailMustBeVerified - looks at verified_at and redirects to a view (below)
* View: explains that the user needs to confirm their email before proceeding and offers a button to re-send the confirmation email
* Action/Service: sends a mailable to the user;

[2022-05-18 01:16] #618 closed, assigned to nobody

[2022-05-18 05:03] circulon commented on #630
Thanks for this.
No you are completely correct and I was not understanding how to describe the rules without a dict, hence my issue as described above.

So Yeah I will start using this style of rule definition.

That said I do prefer the dict style of rule definition as it is much more "config-like" and less "code-like" but that is just my personal opinion.

Happy to discuss further but otherwise

[2022-05-18 12:25] josephmancuso commented on #630
I tend to agree. I'll make sure the docs are updated in a way where it is clear you can import a bunch of rules and use that in this format. I don't think the docs are clear enough

[2022-05-18 12:25] #630 closed, assigned to nobody

[2022-05-18 13:54] girardinsamuel opened #635 "Add explicit type casting for route parameters"
Type casting will not be achieved by route compilers as it's not its responsibility (cf Joe's comment below).

However, it would be great to be able to define how route parameters should be cast back to controller/request parameters.

## Specs
It could be done explicitly like this:

[code]

or more quickly like this if the route compiler is named after a python type:
[code]

And then when using `r

[2022-05-18 15:27] EpocDotFr commented on #635
I'd personally vote for the second solution as it requires less code to be written to enable casting, that would of course require route compilers to be defined properly.

Or maybe even a global config to enable casting on all routes by default?

[2022-05-18 15:33] girardinsamuel commented on #635
Actually both solutions will be available, you will be able to use `casts()` without argument and it will try to auto cast, else you will be able to define more complex casting with first option.

For now we will try to implement the simple explicit per route option and see how it's going. But we keep this in mind too 😉.

[2022-05-18 15:34] josephmancuso commented on #635
To make one point in Sam's and my discussion transparent:

the drawbacks I see with implicit casting:
1. the `:int` thing is mainly for creating a capture group and, in my opinion, does not explicitly imply that casting will happen. Hijacking this to do casting as well can be confusing when those who expect strings get ints.
2. Its typically not the job of the framework to do implicit casting.
3.

[2022-05-20 02:10] #619 closed, assigned to nobody

[2022-05-23 17:04] ystekno opened #642 "Tenants for postgresql schemas"
### Is your feature request related to a problem?

Is it possible to connect single database to different schemas in postgresql with different **http subfolder** like **django-tenants**?

### What do we currently have to do now?

_No response_

### Describe the solution you'd like

For example, there are two tenants named demo and apple:
http://localhost:8000/<tenant1>/helloworld -> http://localho

[2022-05-24 12:55] os-nikita opened #643 "Route group prefix doesn't work without leading forward slash"
### Describe the bug

Adding a prefix attribute to a Route group without `/` at the start doesn't result in an accessible url.

It looks like the prefix requires a forward slash explicitly?

### Expected behaviour

_No response_

### Steps to reproduce the bug

[code]

`GET /` -> works
`GET /foo/bar` -> 404

### Screenshots

_No response_

### OS

macOS

### OS version

Monterey 12.3.1

### Browse

[2022-05-24 12:59] os-nikita commented on #643
Updated issue to explain that it's about the leading forward slash rather than overall feature.

[2022-05-25 12:27] os-nikita opened #644 "`seed:run` command ignores `connection` option"
### Describe the bug

The `connection` option is available on `seed:run` (and `migrate:refresh` when used together), but this option is ignore, resulting in the default connection always being used.

### Expected behaviour

_No response_

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

macOS

### OS version

Monterey 12.3.1

### Browser

_No response_

### Ma

[2022-05-25 13:49] os-nikita opened #645 "`response.assertSessionHasErrors()` does not work with `redirect().with_errors(...)`"
### Describe the bug

`TypeError: the JSON object must be str, bytes or bytearray, not MessageBag`

### Expected behaviour

It is standard to redirect and include validation errors using `.with_errors(errors)`, errors being a `MessageBag` instance.

### Steps to reproduce the bug

[code]

### Screenshots

_No response_

### OS

macOS

### OS version

Monterey 12.3.1

### Browser

_No response_

##

[2022-05-25 14:19] os-nikita opened #646 "`response.assertAuthenticated()` doesn't work"
### Describe the bug

The testing framework does not recognise the authenticated user in the response.

### Expected behaviour

_No response_

### Steps to reproduce the bug

[code]

### Screenshots

_No response_

### OS

macOS

### OS version

Monterey 12.3.1

### Browser

_No response_

### Masonite Version

4.12.1

### Anything else ?

_No response_

[2022-05-27 02:03] #643 closed, assigned to nobody

[2022-05-27 02:03] #635 closed, assigned to nobody

[2022-05-27 02:41] josephmancuso commented on #645
@girardinsamuel can you take a look at this?

[2022-05-27 15:30] dwedigital opened #648 "'route' undefined when sending emails with templates from jobs"
### Describe the bug

I am wanting to use a job to send a mailable. This mailable uses a template for the content.

When I run the queue worke the jobs fail with the following: `'route' is undefined`

Job:

[code]

Mailable:

[code]

### Expected behaviour

_No response_

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

macOS

### OS version

Monteray

### Bro

[2022-05-28 01:24] josephmancuso opened #649 "Local Driver does not accept bytes"
### Is your feature request related to a problem?

Need to accept bytes to the local storage driver

### What do we currently have to do now?

_No response_

### Describe the solution you'd like

Need to have an if statement to check if the content being passed in is bytes and use `wb` instead of `w`

### Describe alternatives you've considered

_No response_

### Would this be a breaking change ?

[2022-05-31 13:15] smurf-U opened #651 "application instance is not provided to event listeners"
### Describe the bug

It gives below error while trying to make custom exception handler using [Catch All Exceptions](https://docs.masoniteproject.com/the-basics/error-handling#catch-all-exceptions)

  File "/Users/test/workspace_py/test/examples/masonite/mas_venv/lib/python3.9/site-packages/werkzeug/serving.py", line 335, in run_wsgi
    execute(self.server.app)
  File "/Users/test/workspace_py/t

[2022-06-01 01:49] #649 closed, assigned to nobody

[2022-06-01 02:40] #648 closed, assigned to nobody

[2022-06-01 08:04] dwedigital commented on #648
Hey @josephmancuso since this fix mails are now not sending (even if sent without queuing i.e. `mail.mailable(NewChallenge(wager).to(wager.challenger)).send()`)

The jobs stop failing and they complete but noticed the emails were not being delivered. Checked Mailgun and there is no activity in the logs either. Then reverted to using the straight `mail.mailable()` approach in the controller that wa

[2022-06-01 08:59] girardinsamuel commented on #642
For the orm part, for now it's not possible to specify the `schema` for postgres. If it was possible, then you would need to
parse the url to find the name of the schema. And then get the query builder instance by passing the schema to it.

[2022-06-01 09:04] girardinsamuel commented on #651
There is an error in the docs you're right. The event listener does not take the application instance.
It should be:
[code]

I fixed the docs 😉. Please let me know if it works for you now.

[2022-06-01 10:31] smurf-U commented on #651
How can we use the listener to access the instance application?

[2022-06-01 12:10] girardinsamuel commented on #651
For now app instance is not provided to listeners when they are registered. I think we should pass the app instance to providers to allow more flexibility. @josephmancuso what's your opinion on this ?

In the meantime, you can do:
[code]

[2022-06-01 12:25] josephmancuso commented on #651
Yeah it should be done the way the documentation describes it.

The documentation is saying the put an application parameter in there.

I was going to fix it last night but my computer died and couldn't find the charger

[2022-06-01 12:54] josephmancuso commented on #651
Just going to reopen this issue because it is actually a problem

[2022-06-01 13:21] josephmancuso commented on #642
I'll take a look into this issue. It is important to be able to set the tenant at the query level. Even globally so you can modify it on each request (which might need a middleware for that?)

[2022-06-01 13:55] smurf-U commented on #651
I'm able to access application instance but i'm getting other issue to resolve it have to write handle method as below

[code]

[2022-06-01 14:32] girardinsamuel commented on #651
You're right, two arguments are provided to the listener. I will fix the docs again. (Type hinting is not mandatory but nice of course 😉).

[2022-06-02 07:40] girardinsamuel commented on #648
Just to keep track: this issue is being discussed on Discord #questions channel. We will open an issue if we manage to reproduce this.

[2022-06-02 08:38] girardinsamuel commented on #646
I cannot reproduce the issue. It's working on my side 🤔
Does it work for your when removing `self.actingAsGuest()` in the test ?

[2022-06-02 14:30] smurf-U opened #659 "Route/HTTP middleware after method should execute after exception generate [#tara-label-bug]"
### Describe the bug

Create Route or Http Middleware to calculate response time with status code and route info for example:

[code]

Register above middleware in `Kernel` in `http_middleware` or `route_middleware.web`, and if one of controller gives exception then it will give `None` value in `status`. Which is not accurate.

### Expected behaviour

`response.get_status()` should return 500 rath

[2022-06-02 14:33] smurf-U commented on #659
The `after` method of the middleware should be called after the success or error response has been generated.

[2022-06-02 17:36] dwedigital opened #660 "Queue can be hit and miss for emailing"
### Describe the bug

I have got emails that get sent via a job. I am currently using the database driver and jobs always clear out for the jobs table and the worker states they have run succesfully.

The issue is that more often than not the request is never hitting Mailgun and the email is not being sent.

Another thing to check when testing is to change the recipient email between each time the

[2022-06-02 19:16] dwedigital commented on #660
After further testing it seems restarting the server and queue worker fixes the problem for a period of time

[2022-06-02 23:18] jfly opened #661 "Is there some way to get the number of rows deleted by a query builder's `delete` method?"
### Is your feature request related to a problem?

The query builder docs mention a `delete` method: https://orm.masoniteproject.com/query-builder#deletes, but I don't see any way of figuring out how many rows were affected by that delete.

### What do we currently have to do now?

Right now, I'm turning around and immediately doing a `SELECT ROW_COUNT()` query, which may be a MySQL specific solut

[2022-06-03 02:35] #645 closed, assigned to girardinsamuel

[2022-06-03 08:40] girardinsamuel commented on #661
I will let @josephmancuso answer this one.

In the meantime, could you move this issue to [Masonite ORM repository](https://github.com/MasoniteFramework/orm/issues/new) ? This question belongs there. In the future it will help people with the same questions finding the answer there. 🙏

[2022-06-03 15:13] jfly commented on #661
Oops, sorry! Reading through https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository, I don't think I have the power to transfer this issue. I can close this and open a new issue of you like. Or perhaps you or another admin could transfer the issue?

[2022-06-03 17:42] josephmancuso commented on #661
Theres currently no way to do this now but it COULD be possible by getting the values from the databases cursor object

[2022-06-03 17:42] josephmancuso commented on #661
I would assume this would be a breaking change though if we changed the delete method to return the number of rows affected

[2022-06-04 06:14] Antony-Jia opened #662 "Any example for API with Authorization?"
### Is your feature request related to a problem?

Any example for API with Authorization? Mostly example is too old to run.

### What do we currently have to do now?

_No response_

### Describe the solution you'd like

Can Add example with api or vue example for newest release?

### Describe alternatives you've considered

_No response_

### Would this be a breaking change ?

- [ ] Yes

### Anyt

[2022-06-04 15:01] girardinsamuel commented on #662
Hi ! Did you read this page https://docs.masoniteproject.com/features/api in the documentation ? Does it answer your question ?

[2022-06-05 10:16] Antony-Jia commented on #662
yeah i'd read it and it worked well. But when i integration Authorization, i can't find an complete example and find no where to insert guard to protect api. Just like when i add User Model Authorizes, I need put sometime like 'table.string("role")' into User migrations?

Mationte is good framework, but the example and tutorial is so less or older.

[2022-06-06 08:11] os-nikita commented on #660
This sounds like the "singleton" issue with Python that I ran into with Auth. There may be something not being reset between  requests or jobs on the worker.

@dwedigital You could try replicating it through `craft queue:work` locally and keep it running, listening to jobs from the db, then in a separate process attempt sending to one email, and then a different email. Will both deliver to the cor

[2022-06-06 08:22] os-nikita commented on #646
@girardinsamuel nope, also fails. Here's an even simpler replication. This is pretty much a base, skeletal Masonite installation, latest core (`4.14.3`) and orm (`2.13.0`).

[code]

Run with `python3 -m pytest`

[2022-06-06 09:08] os-nikita commented on #646
Ah, I know why this is happening. This relates to the Auth singleton issue that I brought up a month or so ago on Discord.

I have a workaround for that issue in my subclassed AuthenticationProvider to get around that issue:

[code]

And that's causing this test to fail. If I remove it, it works, but the underlying Auth issue is there.

[2022-06-06 09:57] dwedigital commented on #660
I have tried that and it works however after a while it can stop. As stated, restarting the queue worker fixes it but just not sure how must testing it has gone through under more load and a longer period of time

[2022-06-07 03:55] circulon opened #663 "Add `logging` feature with different logging handlers"
### Is your feature request related to a problem?

Kind of.
Currently there is no way to log any form of message (exceptions, errors or debug info to persistent storage for later evaluation.

This is a problem in production scenarios where you want to store the message for evaluation and bug reproduction/confirmation.

### What do we currently have to do now?

There is no easy out of the box way t

[2022-06-07 07:58] girardinsamuel commented on #646
Yes. This should be fixed by #629 but has not been released because of the test failing...

[2022-06-07 08:07] girardinsamuel commented on #663
There was a `masonite-logging` package in Masonite < 4. For Masonite 4 we have chosen to rely on the `logging` package directly.

However, having a `LoggingProvider` with different logging handlers - integrated into Masonite core - would be nice. This is a feature I was looking to add, but we did not put much priority on it for now, as we have planned some other features for Masonite 5 and the gen

[2022-06-07 13:11] josephmancuso commented on #663
Yes I also support this feature. We can add a few different handlers as we had before:

* Python File (would use python logging module and just log to a file)
* Rollbar or Sentry or some kind of third party logging solution

[2022-06-07 13:11] josephmancuso commented on #663
Can take a look at what masonite-logging had and replicate those features since that package was pretty complete for M3

[2022-06-09 01:59] josephmancuso commented on #660
Going to close. Can reopen if experience this again

[2022-06-09 01:59] #660 closed, assigned to josephmancuso

[2022-06-09 02:29] josephmancuso commented on #651
This is good now right? Docs look updated

[2022-06-09 02:29] #651 closed, assigned to nobody

[2022-06-09 02:45] josephmancuso commented on #573
I don't think this is an issue anymore. Cannot replicate this on new installs anymore

[2022-06-09 02:45] #573 closed, assigned to nobody

[2022-06-09 02:53] josephmancuso commented on #521
@girardinsamuel is this still an issue?

[2022-06-10 03:42] #521 closed, assigned to nobody

[2022-06-10 03:44] josephmancuso commented on #659
@smurf-U what are you trying to do? Maybe a middleware is not the best place for this

[2022-06-11 13:57] josephmancuso opened #667 "Request.only method has the wrong"
### Describe the bug

In the IDE it shows a list type hint when it should be an argument of strings

### Expected behaviour

_No response_

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

macOS

### OS version

All

### Browser

_No response_

### Masonite Version

Latest

### Anything else ?

_No response_

[2022-06-11 17:51] #667 closed, assigned to nobody

[2022-06-13 05:13] smurf-U commented on #659
@josephmancuso Trying to figure out how long it takes to process a route and if it is successful or not.

[2022-06-13 13:39] josephmancuso commented on #659
understood thanks

[2022-06-14 20:05] goophps opened #670 "Hope to support an open source websocket library."
### Is your feature request related to a problem?

Hope to support an open source websocket library. Build a separate websocket server system by yourself, and then connect to use it through Masonite.

### What do we currently have to do now?

_No response_

### Describe the solution you'd like

I found a great open source library, let's see if you can integrate it.
https://github.com/miguelgrinber

[2022-06-15 08:15] girardinsamuel commented on #670
@yubarajshrestha implemented one, you can check it out here:
https://packages.masoniteproject.com/packages/masonite-socketio-driver/

[2022-06-15 08:39] goophps commented on #670
very good, thank you.

[2022-06-15 12:35] #670 closed, assigned to nobody

[2022-06-17 03:01] circulon commented on #663
That Sounds great!.
Thanks

In the mean time I have added a basic LoggingProvider to my M4 project to include a catchall and configuration based on the context the logging is working in (AWS Lambda or local development)

But yeah sounds like a great idea to reuse/tweak the M3 provider

[2022-06-17 06:42] Bindukarkee opened #671 "Issue while sending sms to a single user through vonage"
### Describe the bug

While sending sms(vonage) through notification, I entered user phone number in to_ recipients which is in string format following the correct E.164 format.
But while sending sms an error occured saying "Vonage Code [3]: to address is not valid. Please refer to API documentation for more details."

User model
[code]
Job
[code]
Notification
[code]

### Expected behaviour

After

[2022-06-17 16:04] berman82312 opened #672 "connection is not working as expected in database testing"
### Describe the bug

According to [docs](https://docs.masoniteproject.com/testing/database-tests), the `connection` defined in test class should be used during testing. But it still use the `default` connection settings during testing instead.

After days of tracing code, I think the cause of this issue is:

In `masonite > environment > environment.py`, we use following statement in the construct

[2022-06-18 08:38] goophps commented on #663
I also need this feature. Hope it gets integrated.

[2022-06-18 08:40] goophps commented on #642
This is a great feature

[2022-06-18 12:34] goophps opened #673 "hope the session can be stored in Redis"
### Is your feature request related to a problem?

hope the session can be stored in Redis。In our work, it is stored in redis.

### What do we currently have to do now?

_No response_

### Describe the solution you'd like

hope the session can be stored in Redis

### Describe alternatives you've considered

_No response_

### Would this be a breaking change ?

- [ ] Yes

### Anything else ?

_No r

[2022-06-19 00:52] qiudaozhang opened #674 "validator greater_than exception"
### Describe the bug

[code]

### Expected behaviour

when i input a -1099,i want it validator tips me not satisfied.

### Steps to reproduce the bug

my code

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/34365540/174461444-105b06ee-42e5-422f-af9e-210dd130ad78.png)

### OS

Windows

### OS version

win 10

### Browser

_No response_

### Masonite Version

4.6.1

###

[2022-06-19 01:08] circulon commented on #673
Hi @goophps

Yes this is now available in M4 but is not yet fully documented.

Add this driver info to your session.py providers config:
[code]

This will allow you to save larger chunks of data to the "default" session as per how the docs illustrate.
Session Flash data is also included.

I had a need for this use case  as part of the AuthenticationMiddleware so that my (logged in) user instance m

[2022-06-19 01:32] circulon opened #675 "Official M3 Providers ported to M4"
### Is your feature request related to a problem?

Not really

### What do we currently have to do now?

Write your own Provider or attempt to port the M3 Providers to work with M4

### Describe the solution you'd like

I would like to be able to use the official third party providers that M3 has available in M4
These include but are not limited to:
masonite-debugbar
masoinite-billing
masonite-log

[2022-06-19 01:35] josephmancuso commented on #675
masonite-debugbar only works with M4 🤔

[2022-06-19 09:38] circulon commented on #675
@josephmancuso

Ok this is weird and no it does not work with M4 at all
ie it cannot even be enabled and produces the exact same errors  as the Billing and logging providers.
So I created an issue on Masonite-debugbar which shows this issue  with M4
https://github.com/MasoniteFramework/debugbar/issues/38

[2022-06-19 13:33] Marlysson commented on #671
@Bindukarkee The phone's value is filled?

[2022-06-21 06:24] Bindukarkee commented on #671
Yes, the phone's value is filled. The issue doesn't occur when the value is send inside array.

[2022-06-21 07:56] Antony-Jia opened #676 "Trouble importing controller! No <class 'masonite.controllers.Controller.Controller'> named TestController has been found in ['app.controllers.api']"
### Describe the bug

When I change API Controller name it happened. When I change name to original it still exit.
When I revert the code, the bug is missing.

### Expected behaviour

How to Generate API Controller?  The Only way is the command python craft controller api/UsersController -a?

### Steps to reproduce the bug

_No response_

### Screenshots

![image](https://user-images.githubusercon

[2022-06-21 08:08] #676 closed, assigned to nobody

[2022-06-21 08:09] Antony-Jia commented on #676
this is compile issue. i'd fix it

[2022-06-21 09:15] girardinsamuel commented on #671
We will take a look asap ! 😉

[2022-06-21 09:31] girardinsamuel commented on #673
It is indeed not documented yet but available. We will add it to the docs! In the meantime, I guess we can close this issue 😉

[2022-06-21 09:32] #673 closed, assigned to nobody

[2022-06-21 19:21] #476 closed, assigned to girardinsamuel

[2022-06-21 21:44] goophps opened #678 "Masonite has poor performance when I make a lot of calls to the cache."
### Describe the bug

Masonite has poor performance when I make a lot of calls to the cache.

I looked at the code here and thought that the singleton pattern was not used. Later I found out that already uses the singleton pattern.

filename：site-packages/masonite/cache/drivers/RedisDriver.py
line：21
code：
        if not self.connection:
            self.connection = redis.StrictRedis(

[2022-06-24 01:36] josephmancuso commented on #675
The billing package is planned for a rewrite and the logging feature is open in #663 so i'll close this one

[2022-06-24 01:36] #675 closed, assigned to nobody

[2022-06-24 01:44] josephmancuso commented on #678
@circulon can we save the open connection and just handle it not being able to connect when it sends and gets the data?

It's probably slow because it has to reopen and close the connection everytime

[2022-06-24 06:01] circulon commented on #678
@josephmancuso
I would say yes.
Using a singleton pattern to hold the connection once its been setup  would make sense and remove the reconnection overhead
 But it would require testing

Will see if I have some time over the next week to try this.

[2022-06-24 08:58] goophps opened #680 "Change Redis driver to use incrby methods"
### Describe the bug

Hi, why do you want to do this? and poor performance
![image](https://user-images.githubusercontent.com/49714224/175500728-9b8d5b1b-c7e3-4709-94a3-706dbef10efe.png)

Why not do this?
![image](https://user-images.githubusercontent.com/49714224/175501117-59da5554-0d40-4697-b377-de4ffcd6659a.png)

### Expected behaviour

_No response_

### Steps to reproduce the bug

_No respons

[2022-06-25 00:46] #674 closed, assigned to nobody

[2022-06-25 01:15] circulon commented on #678
@goophps @josephmancuso

I cannot replicate @goophps  results.

System:
27" iMac : 4 GHz Quad-Core Intel Core i7 (late 2015)
Mac OS 12.4
Memory: 40 GB 1867 MHz DDR3
Storage: 1Tb Samsung SSD 860 Pro

Testing setup:
- Brand new masonite project and venv.
- `test_redis.py` as per @goophps  code
  - run with `python test_redis.py`
- `WelcomeController` as per @goophps code
  - run with `python craft s

[2022-06-25 02:35] #672 closed, assigned to nobody

[2022-06-25 02:35] #678 closed, assigned to nobody

[2022-06-25 02:40] circulon commented on #678
@josephmancuso

Reviewing how the Cache works, there is a possibility that performance could be increased further by "caching" (no pun intended ;)  the values gathered from the particular driver in the same way that the Session component does.
This would reduce hits on the Cache (Driver) if the value already exists.
As it stands the Redis Cache driver hits Redis twice if the value exists (one for

[2022-06-25 02:43] josephmancuso commented on #678
@circulon thanks good to know. What's your thoughts on this issue? #680

[2022-06-25 07:11] goophps commented on #680
Hello, don't write this code like this, it provides the correct way to write it, why not use it?

[2022-06-25 07:19] goophps opened #683 "Change redis connection to use exists for the has method"
### Describe the bug

![image](https://user-images.githubusercontent.com/49714224/175763063-694d57bd-1be3-41a1-8180-ca9b8aaa5c7a.png)

### Expected behaviour

_No response_

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

Linux

### OS version

deepin

### Browser

_No response_

### Masonite Version

4.15.0

### Anything else ?

_No response_

[2022-06-25 10:40] josephmancuso commented on #680
We will get to it. The issue is open I didn't close it. If you want to see this fixed then please open a PR and I will review it. If not then please wait until we get to this issue

[2022-06-25 19:43] goophps commented on #680
thank you for your work

[2022-06-25 19:51] goophps commented on #683
hi, This is clearly a bug

[2022-06-25 23:37] circulon commented on #678
@josephmancuso

I think we have a problem here and this should be reopened.

After looking at the code @goophps provided I realised the the key was never being "set" so the `.get()` in the RedisDriver always returned `None` ie incurring 1 hit to redis for the `.has()`

so I altered the test to look like this and set / clear the key before and after the timing check.
Note: the `.put()` & `.forger()

[2022-06-25 23:39] josephmancuso commented on #678
Ok thanks for checking let me know if you need something from me

[2022-06-26 04:04] circulon commented on #678
@josephmancuso

We have 2 scenarios here that will offer performance boosts

Scenario 1: Cache only keys from Store
10000 iterations:
- test_redis.py
   - time cost = 0.56 seconds
 - WelcomeController
   - time cost = 0.92 seconds

100000 Iterations:
- test_redis.py
   - time cost = 5.57 seconds
 - WelcomeController
   - time cost = 9.34 seconds

Pros :
- Keys are all cached internally so lookup i

[2022-06-26 04:11] circulon commented on #680
@josephmancuso
Using Driver native methods where they exist would be preferable as it incurs less overhead (hits on the store).

[2022-06-26 11:11] goophps commented on #683
@josephmancuso hi,I have submitted a PR

[2022-06-26 11:12] goophps commented on #683
Forgive me every time I say a hi before speaking, because I am afraid that my expression will be blunt and give people an unfriendly feeling. I'm all through translation software and I don't speak English.

[2022-06-26 14:22] #683 closed, assigned to nobody

[2022-06-27 01:44] #646 closed, assigned to girardinsamuel

[2022-06-27 02:06] circulon opened #685 "Multiple drivers - .get() with default value will produce data inconsistencies"
### Describe the bug

Using a `default` value in .get() does not actually store the default value.
This means that updating the key using methods that require the key to have an existing.
eg `.increment()`, `.decrement()`

This exists across multiple drivers including but not limited to
- All Cache Drivers
- Redis Session Driver
- There might be others but I havent looked that hard yet ;)

### Exp

[2022-06-27 08:05] circulon commented on #680
@josephmancuso
This is really a moot point now as PR #686 covers this by updating an internal cache for these methods
eg `.increment()` and `.decrement()` so the native driver methods are no longer relevant to setting incremented/decremented values directly in the store

[2022-06-27 12:32] josephmancuso opened #687 "Add a way to test guards like web and jwt"
@girardinsamuel we can't test guards right now. I'll need to fix this to fix the tests and then I'll revisit the testing of the actual guards. Its going to be pretty tricky I think

_Originally posted by @josephmancuso in https://github.com/MasoniteFramework/masonite/issues/629#issuecomment-1167295347_

[2022-07-02 16:16] filipprober opened #689 "ModuleNotFoundError: No module named 'masonite'"
### Describe the bug

Hey guys,

maybe it's not Masonite specific, but when I use the zsh, this error comes up:
<img width="639" alt="image" src="https://user-images.githubusercontent.com/65421448/177007890-7a439228-cfd5-445a-9d0c-22ddfba576d7.png">

My requirements.txt file looks like this:
<img width="639" alt="image" src="https://user-images.githubusercontent.com/65421448/177007974-7c309a46-9f2

[2022-07-02 16:19] josephmancuso commented on #689
Looks like the first screenshot you didn't have the virtual environment active? In the second screenshot I can see the `(masonite)` env active

[2022-07-02 16:26] filipprober commented on #689
Sorry, forgot to activate the virtual environment but unfortunately it does not work :(
<img width="772" alt="image" src="https://user-images.githubusercontent.com/65421448/177008596-9e9affd4-1a60-4b22-a74c-75e55ff5cc81.png">

[2022-07-02 16:42] josephmancuso commented on #689
oh its probably because the virtual environment is the same name as masonite. Need to name it something else like `masonitevenv`

[2022-07-02 16:42] #689 closed, assigned to nobody

[2022-07-02 16:42] filipprober commented on #689
Okey, I fixed it by running the following command outside the virtual environment:
`pip3 install masonite`

It works as it should. Thanks!
<img width="728" alt="image" src="https://user-images.githubusercontent.com/65421448/177009046-6e459133-d525-488d-8198-96c796923f53.png">

[2022-07-05 07:17] goophps commented on #685
This is not a bug, the purpose of the default value is that when the return value is empty, the default value is returned. We can't set default values into Redis, don't do that.

[2022-07-05 07:38] goophps commented on #685
Also like this, dict.get(key, default=None), this default value will not update your dictionary.

[2022-07-05 12:35] circulon commented on #685
@goophps  so how do you propose to alleviate the scenario as I oultined above?
Just saying "dont do that" does not provide any meaningful discussion on this issue.

Additionally as this is about  persistent store drivers and the values should be retained,  why not set the default value as provided in order to stop data inconsistencies?

In any case this has been partially addressed (for Redis Cach

[2022-07-05 14:35] goophps commented on #685
If you need to do this, you can encapsulate a function yourself, and if there is no value, set the value in it.

[2022-07-05 15:08] josephmancuso commented on #685
I would actually tend to agree with @goophps.

Its not good to store a default like that when getting.

To solve the scenario of:

Is, in my opinion, an incorrect expectation.

Now if you want to make a new method like `get_or_set("foo", 3)` which would do your behavior I think that would be better. But I don't want to be storing defaults when using the get method

[2022-07-05 15:08] #685 closed, assigned to nobody

[2022-07-05 15:38] goophps commented on #685
![image](https://user-images.githubusercontent.com/49714224/177365320-b61c87a0-d306-42bb-a1bb-db5dd0a6261d.png)

See if this works.

[2022-07-05 16:05] josephmancuso commented on #685
I'd be open to a method like that

[2022-07-08 21:46] horsehead97 opened #692 "Auth routes (GET) return Not Found even though they are valid routes"
### Describe the bug

register and login routes produce a route not found exception
GET /register: 404 Not Found
GET /login: 404 Not Found

### Expected behaviour

register and login routes should bring up a register or login page

### Steps to reproduce the bug

Install masonite.
Run migration
add these 2 lines to web.py:
from masonite.authentication import Auth
ROUTES += Auth.routes()

### Scree

[2022-07-09 01:04] josephmancuso commented on #692
Please update to latest version of Masonite and see if that fixes the issue. 4.6.1 is pretty far behind

[2022-07-18 16:52] os-nikita opened #693 "In tests *specifically*, `@morph_many()` decorator within `*Mixin` class not recognized; but `@belongs_to` is"
### Describe the bug

When running tests, something odd is happening with relationships, MorphMany specifically.

If I have an `@morph_many` relationship within a mixin, it will worked as expected within the app environment (HTTP, Craft), but it fails in tests with the error:

`E           AttributeError: class model '<Model>' has no attribute <relation method>`

This does not happen with, for exa

[2022-07-18 16:57] os-nikita commented on #693
I've narrowed it down even further:

[code]

This will also fail with the same error. The Factories aren't doing everything that the application is doing after model creation it seems.

[2022-07-18 17:03] os-nikita commented on #693
Closing this and opening an ORM issue instead. I found the cause. The `.create()` method yields a model that is somehow incomplete in its methods or something? Calling `.fresh()` on that model fixes it.

[2022-07-18 17:03] #693 closed, assigned to nobody

[2022-07-27 00:18] holic-cl opened #695 "Trying to update from masonite 3 to 4"
### Describe the bug
Hi!,

I am trying to upgrade my framework from `masonite 3.0.12` to version 4.

After making changes described by [Masonite documentation](https://docs.masoniteproject.com/upgrade-guide/masonite-3.0-to-4.0) i get this error:
[code]

### Expected behaviour

_No response_

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

Linux

### OS versio

[2022-07-27 00:36] josephmancuso commented on #695
what's your masonite ORM version?

[2022-07-27 01:10] holic-cl commented on #695
Hi @josephmancuso thanks for your reply

I just updated my issue, because i tried some changes and now i got that new error.

i am using masonite-orm version: 2.18.1

[2022-07-27 01:30] josephmancuso commented on #695
I'm pushing v2.18.2 now. Looks like a weird import made it into the code. Probably from my auto class importer

[2022-07-27 05:35] Bindukarkee opened #696 "Issue occurs while using pagination on query builder , if no data is present"
### Describe the bug

- An issue occurred as **"Error - 'NoneType' object has no attribute 'values'"**  when I use pagination on query builder.

- This issue occurs when I don't have any data present on the given table.

### Expected behaviour

The result should be null if no any data are present but it throws an error.

### Steps to reproduce the bug

1. Define a function inside any controller. F

[2022-07-27 20:26] holic-cl commented on #695
Just updated masonite-orm to v2.18.2 but i still get this error:

[code]

[2022-07-29 08:56] circulon opened #697 "Question: how to render a widget view in a view"
### Is your feature request related to a problem?

No

### What do we currently have to do now?

Unknown

### Describe the solution you'd like

I would like to render Widgets (html fragment code or a `View` subclass) within a view template for modularity and reusability.

Currently generating the widget fragment like this
[code]

There doesnt seem to be a `raw` View filter which would facilitate t

[2022-07-30 19:08] goophps opened #698 "Hope to add an ASGI deployment method"
### Is your feature request related to a problem?

We really need this feature

### What do we currently have to do now?

_No response_

### Describe the solution you'd like

Hope to add an ASGI deployment method

### Describe alternatives you've considered

_No response_

### Would this be a breaking change ?

- [ ] Yes

### Anything else ?

_No response_

[2022-07-31 00:45] josephmancuso commented on #698
I don't currently have any intentions of making the framework ASGI compatible

[2022-07-31 00:45] #698 closed, assigned to nobody

[2022-07-31 00:47] josephmancuso commented on #697
I think you're trying to find the `include` tag

https://jinja.palletsprojects.com/en/3.1.x/templates/?highlight=include#include

[2022-07-31 00:47] #697 closed, assigned to nobody

[2022-07-31 00:49] josephmancuso commented on #695
Check to make sure you have al the right configs https://github.com/MasoniteFramework/cookie-cutter/tree/4.0/config

Also that they are registered correctly as in this file:

https://github.com/MasoniteFramework/cookie-cutter/blob/4.0/Kernel.py#L62

[2022-07-31 00:49] #695 closed, assigned to nobody

[2022-08-02 21:05] josephmancuso opened #700 "Default templates not showing error messages"
### Describe the bug

Need to show error messages in the default auth templates

### Expected behaviour

_No response_

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

macOS

### OS version

Latest

### Browser

_No response_

### Masonite Version

4.18.3

### Anything else ?

_No response_

[2022-08-04 23:05] dzc0d3r commented on #700
+1

[2022-08-06 02:11] circulon opened #702 "Add is_ajax to request class"
### Is your feature request related to a problem?

Scope:  in Controller
How do I check if a request was made via ajax or not?
The underlying `request` object from the `requests` module has a `.is_ajax()`

Scenario:
I want to make POST requests via ajax from my page.
if the POST requests IS NOT ajax I want to redirect the response otherwise return a json data block.
This provides security and spec

[2022-08-10 01:31] josephmancuso commented on #702
Will have to check the environ with things like Axios and fetch and see if we can make a method in the request class to check values against the environ

[2022-08-10 02:01] #700 closed, assigned to nobody

[2022-08-10 02:01] josephmancuso commented on #700
Fixed in 4.16.4

[2022-08-20 19:24] vipermark7 commented on #566
Interested in this issue! What exactly needs to be logged, though?

[2022-08-24 13:43] girardinsamuel commented on #566
I am thinking of:
- the view name
- the context injected into the view

[2022-09-09 11:46] Bindukarkee opened #710 "Issue while deleting the Model using SoftDeletes"
### Describe the bug

- When we try to delete any data which have soft delete used in it, error occured as:

- error: "(1064, \"You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'WHERE `projects`.`id` = 1' at line 1\")"

### Expected behaviour

_No response_

### Steps to reproduce the bug

- Add soft delete on you

[2022-09-18 15:58] Marlysson commented on #710
Can you put the whole sql generated? Try use the .to_sql() after your statement.

[2022-09-21 01:38] yubarajshrestha commented on #710
@Bindukarkee  it's working in version `masonite-orm==2.18.5` can you verify your version?

[2022-09-21 02:51] yubarajshrestha commented on #642
@goophps If we add this feature in postgress, then we have to find similar approach for other databases as well and I think it needs some time to be fixed. Till then here's the package implementation: https://github.com/py-package/masonite-multitenancy

[2022-09-22 15:25] Vringe opened #712 "Route Model Binding"
### Is your feature request related to a problem?

It would be very useful to have Route Model Binding, similar to what [Laravel has](https://laravel.com/docs/9.x/routing#route-model-binding).

### What do we currently have to do now?

Currently, you have to retrieve the model by hand.

### Describe the solution you'd like

Something like this:

`routes/web.py`:
[code]

`app/controllers/UserContro

[2022-09-25 01:56] tamersalama opened #713 "Add CRUD Scaffolding for model, view, controller"
### Is your feature request related to a problem?

There’s quite a bit of boilerplate code that repeats for each CRUD operation needed for a new model.

### What do we currently have to do now?

Adding a new model and it’s CRUD operations means implementing the model, it’s attributes, controller actions, views (forms, list, detail) and routes.

### Describe the solution you'd like

A way to automa

[2022-09-25 13:37] racerthunder opened #714 "Broken redirects to external url"
### Describe the bug

version: 4.16.4

there is no easy way to make a redirect the external url inside controller, ex.

`self.response.redirect('https://google.com')`

the "add_query_params" function expects only inner url and returns back empty string.

current workaround is to add header manually:

[code]

### Expected behaviour

_No response_

### Steps to reproduce the bug

_No response_

###

[2022-10-02 19:36] goophps opened #715 "Hope to add a queue driver: redis"
### Is your feature request related to a problem?

Hope to add a queue driver: redis

### What do we currently have to do now?

_No response_

### Describe the solution you'd like

Hope to add a queue driver: redis

### Describe alternatives you've considered

_No response_

### Would this be a breaking change ?

- [ ] Yes

### Anything else ?

_No response_

[2022-10-08 18:23] josephmancuso commented on #710
Will reopen if we get more information

[2022-10-08 18:23] #710 closed, assigned to nobody

[2022-10-09 03:53] circulon opened #716 "Alternate Authorization mechanisms"
### Is your feature request related to a problem?

Not really

### What do we currently have to do now?

Not really sure how to address this as `Gate` in the only method of Authorization and cannot be disabled / overridden  to allow other Authorization flows to be used.

### Describe the solution you'd like

I would like to use a different Authorization flow other than Gates & Policies.
In my case

[2022-10-09 12:23] josephmancuso commented on #716
Gates are not used out of the box so if you don't use gates then you don't have to disable / override them

[2022-10-09 12:24] josephmancuso commented on #716
I think you just have to build it into your application as a custom class and custom config.

Is this issue requesting we build a Casbin driver for Masonite? I'm kind of confused on what this ticket is for

[2022-10-09 12:38] josephmancuso commented on #642
This request should use this package https://github.com/py-package/masonite-multitenancy

[2022-10-09 12:38] #642 closed, assigned to nobody

[2022-10-09 12:43] #566 closed, assigned to nobody

[2022-10-09 12:45] josephmancuso commented on #692
Will reopen if we get more information

[2022-10-09 12:45] #692 closed, assigned to nobody

[2022-10-09 12:50] #680 closed, assigned to nobody

[2022-10-09 14:47] girardinsamuel commented on #715
Are there any reasons you prefer Redis over already available drivers ?
@josephmancuso What do you think of adding this driver into core ?

[2022-10-09 15:03] girardinsamuel commented on #714
Actually it should possible to do it using `self.response.redirect(location="https://google.com")`. I will check if it's working on my side.

[2022-10-09 23:36] circulon commented on #716
@josephmancuso

Yeah I understand that if there are no defined rules they are not used.
My point was that even if not defined Gates are still hardcoded into the Request flow.
No issue there, just pointing it out.

Yeah that is not a problem and have already done that exact thing for a custom provider.

No I'm not asking for a Casbin provider.  I am hoping  to add it to Masonite by building one.

I

[2022-10-10 07:33] girardinsamuel commented on #716
Hmm yes because of this
[code]
you're right.

@josephmancuso We have to think about it

[2022-10-12 07:23] girardinsamuel opened #719 "Improve display of import errors inside controllers"
### Is your feature request related to a problem?

When a controller has import errors an error "Trouble importing controller" is displayed, but we don't have details about the errors (no stacktrace, no error message).

### What do we currently have to do now?

We have e.g. to import manually the controller in tinker shell to check for errors.

### Describe the solution you'd like

Display direclt

[2022-10-12 22:05] cercos opened #720 "SoftDeletesMixin doesn't force_delete"
### Describe the bug

The force_delete() method is not deleting record.

### Expected behaviour

_No response_

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

Linux

### OS version

Linux

### Browser

Edge

### Masonite Version

4.6.1

### Anything else ?

Changing the return value on the _force_delete() method on SoftDeleteScope shown below makes it work b

[2022-10-13 08:31] girardinsamuel commented on #720
Thanks for reporting this ! Can you move this bug report to Masonite ORM repo ? https://github.com/MasoniteFramework/orm/issues
It belongs here 😉

We will fix this ASAP.

[2022-10-13 08:31] #720 closed, assigned to nobody

[2022-10-13 10:45] #702 closed, assigned to nobody

[2022-10-13 11:05] #719 closed, assigned to nobody

[2022-10-13 14:08] cercos commented on #720
Yeah sorry about that, forgot it was a separate repo

On Thu, Oct 13, 2022, 4:32 AM Samuel Girardin ***@***.***>
wrote:

[2022-10-13 18:07] girardinsamuel commented on #716
Actually no, here `AuthorizesRequest` just adds a handy shortcut to test gate access from the request object. So it's not really bundled into core. If you want to check permissions you still have to put the checks somewhere: either in Controller or in a Middleware.

So it would be the same for your custom system.

Example:

[code]

@circulon I would be happy to discuss it with you further on Disco

[2022-10-13 18:08] #716 closed, assigned to nobody

[2022-10-13 23:32] circulon commented on #715
@girardinsamuel  @josephmancuso
IMHO this would be a great addition as Redis is used in many production systems.

I have not needed a queueing mechanism (yet) but can see a need for one in the future of my projects.

I can have a look at this soonish, but I'm not sure how soon that will be.
Happy to collaborate with others as I'm kind of new to Redis in general.

Cheers

[2022-10-14 00:16] circulon commented on #716
@girardinsamuel

As it turns out that is exactly what I did a couple of days ago and have not had a chance to reply and confirm.
Using a Route Middleware gives a lot of flexibility ie I can add permissions conrtol to specific controllers

For those that may be looking for an alternative to Gates this is what I did.

As I'm using Casbin for centralised permissions (RBAC) I put it all together like

[2022-10-26 23:29] girardinsamuel opened #728 "Replace future deprecrated `cgi` module with other package"
[code]

Check this :
- [https://peps.python.org/pep-0594/#cgi](https://peps.python.org/pep-0594/#cgi)
- [https://github.com/defnull/multipart](https://github.com/defnull/multipart)

[2022-11-09 09:14] ssestantech opened #734 "how to get value from form with multiple inputs with same name and save in db."
### Describe the bug

how to get value from form with multiple inputs with same name and save in db.

### Expected behaviour

how to get value from form with multiple inputs with same name and save in db.

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

Windows

### OS version

window 11

### Browser

_No response_

### Masonite Version

4.6.1

### Anything e

[2022-11-09 09:17] girardinsamuel commented on #734
Hi ! Could you post an example of your HTML form in this issue ?

[2022-11-09 09:25] ssestantech commented on #734
[code]

[2022-11-14 17:53] cpken opened #735 "masonite-object supporting the buffer API required"
### Describe the bug

执行数据库迁移时报错，自己尝试寻找答案，但未成功。
Error occurred during database migration.

`.env`

[code]

[code]

开发环境
development environment

- ubuntu 22.0.*
- masoniote 4.17.4
- python 3.10

[code]

当 `DB_CONNECTION=sqlite` 时，不曾出现以上报错，程序正常执行。
use `CONNECTION=sqlite`, the above error does not occur, and the program executes normally.

### Expected behaviour

_No response_

### Steps to reproduc

[2022-11-16 10:46] girardinsamuel commented on #735
Hi, Can you post your migration file ?

[2022-11-16 17:19] cpken commented on #735
Thank you for your help.

`databases/migrations/2022_07_31_104321_create_admin_user_table.py`

[code]

`databases/migrations/2022_07_31_115244_create_admin_menu_table.py`

[code]

`databases/migrations/2022_07_31_120345_create_admin_role_table.py`

[code]

`databases/migrations/2022_07_31_124007_create_admin_permission_table.py`

[code]

`databases/migrations/2022_07_31_124331_create_admin_role_pe

[2022-11-17 09:13] MarquisVIP commented on #735
这个问题出现在 .env 的"DB_PASSWORD="这里，MySQL 的数据库密码不能为root或者 123456，这种简单的数字。
这里的密码需要填写为：英文字母+数字，就是abcd123456就不会报这个错误了。

[2022-11-17 10:44] ssestantech opened #736 "masonite api"
### Describe the bug

i am using masonite api . its working perfect on localhost. but when i go to production then its showing
api routes not found 404.

### Expected behaviour

i am using masonite api . its working perfect on localhost. but when i go to production then its showing
api routes not found 404.

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

Lin

[2022-11-17 16:38] cpken commented on #735
感谢老铁，问题已经解决。

[2022-11-17 16:38] #735 closed, assigned to nobody

[2022-11-18 16:44] girardinsamuel commented on #736
Can you test if your routes are correctly displayed in production with the `python craft routes:list` command ? It should display a list of the configured routes for the current environement. If it is displayed there then maybe it's not an issue with Masonite itself ?

Are you using a proxy like Nginx ?

[2022-11-18 18:06] ssestantech commented on #736
masonite.exceptions.exceptions.MissingContainerBindingNotFound: routes.api.location key was not found in the container

[2022-11-18 18:12] ssestantech commented on #736
![image](https://user-images.githubusercontent.com/115619890/202774180-2b348882-d1ea-43bb-b894-01fb45a213a5.png)

[2022-11-18 18:12] ssestantech commented on #736
but api/users give 404

[2022-11-18 20:06] ssestantech commented on #736
masonite api not working on subdomain

[2022-11-18 20:07] ssestantech opened #737 "masonite api not working on subdomain"
### Describe the bug

masonite api not working on subdomain

### Expected behaviour

_No response_

### Steps to reproduce the bug

_No response_

### Screenshots

_No response_

### OS

Linux

### OS version

centos

### Browser

_No response_

### Masonite Version

4.6.1

### Anything else ?

_No response_

[2022-11-20 14:01] ssestantech commented on #736
any solution

[2022-11-20 14:01] ssestantech commented on #737
any solution